node-red/.flows.json.backup
[{"id":"53759d33.dbf614","type":"tab","label":"HA Toggles","disabled":false,"info":""},{"id":"69d979d9.bffe18","type":"tab","label":"Notifications","disabled":false,"info":""},{"id":"a9487bf5.e08638","type":"tab","label":"Daves Room","disabled":false,"info":""},{"id":"9d5403c2.94c6d","type":"tab","label":"Bathroom","disabled":false,"info":""},{"id":"587c0c33.841674","type":"tab","label":"Hallway","disabled":false,"info":""},{"id":"20980397.0f518c","type":"tab","label":"Bedroom","disabled":false,"info":"\nSwitch long full brightness\nSwitch long off turn off everything\nswitch Off turn off bedroom\nSwitch On Bedtime Mood"},{"id":"fca0d3bc.7c6fa","type":"subflow","name":"Turn off everything","info":"","category":"","in":[{"x":340,"y":360,"wires":[{"id":"d9ff0bb4.773b18"},{"id":"8da32a5a.2e68b8"},{"id":"c8249c3.6d3676"},{"id":"c1d4e5aa.c8b398"},{"id":"e5b940eb.d4939"},{"id":"853ac2f7.ca962"},{"id":"4d0f3da6.7cdca4"},{"id":"3dc9387a.c23e98"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"191d2fd9.557c5","type":"subflow","name":"Turn OFF - Media","info":"","category":"","in":[{"x":360,"y":180,"wires":[{"id":"f4f9216f.b48f2"},{"id":"ad818a81.1e6468"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"31296d80.2c2052","type":"subflow","name":"Turn OFF - Daves Room Lights","info":"","category":"","in":[{"x":260,"y":140,"wires":[{"id":"ad81771e.b3db08"},{"id":"7c3637c1.c09178"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"91e77bd8.9adbc8","type":"subflow","name":"Turn OFF - Bathroom Lights","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"10d20194.c2b12e"},{"id":"916ac074.599a3"},{"id":"4f3778f5.32c3e8"},{"id":"224f29f9.03ad56"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"df858848.e3c668","type":"subflow","name":"Turn OFF- Hallway Light","info":"","category":"","in":[{"x":100,"y":60,"wires":[{"id":"dcccf895.3142f8"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"1a249e70.de0812","type":"subflow","name":"Turn OFF - Dining Room Lights","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"5a8432aa.503f8c"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"b2ccae35.e468b","type":"subflow","name":"Turn OFF - Living Room Lights","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"554f8860.fb9988"},{"id":"ecffda33.315538"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"308993a3.b5269c","type":"subflow","name":"Turn OFF - Bedroom Lights","info":"","category":"","in":[{"x":120,"y":180,"wires":[{"id":"e42f6932.991848"},{"id":"b230c0b3.c2cf5"},{"id":"5e6211cc.3ec82"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"80919431.d3aeb8","type":"subflow","name":"Turn ON - Daves Room Lights","info":"","category":"","in":[{"x":280,"y":180,"wires":[{"id":"61b72c16.31c024"},{"id":"4df21d5a.5bb9c4"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"3defc10e.864d7e","type":"subflow","name":"Turn OFF - Delias Room","info":"","category":"","in":[{"x":320,"y":200,"wires":[{"id":"98b3d3e4.19a7a"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"9c5d6f31.0ccab","type":"group","z":"fca0d3bc.7c6fa","style":{"stroke":"#2e333a","stroke-opacity":"1","fill":"#2e333a","fill-opacity":"0.75","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["8da32a5a.2e68b8","c8249c3.6d3676","c1d4e5aa.c8b398","e5b940eb.d4939","853ac2f7.ca962","4d0f3da6.7cdca4","3dc9387a.c23e98","7d37fa2.a81dd04"],"x":594,"y":199,"w":312,"h":482},{"id":"4844cd8b.29d2c4","type":"group","z":"fca0d3bc.7c6fa","style":{"stroke":"#2e333a","stroke-opacity":"1","fill":"#2e333a","fill-opacity":"0.75","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["d9ff0bb4.773b18","695217e0.6f9858"],"x":574,"y":39,"w":232,"h":122},{"id":"8db5acc1.23947","type":"group","z":"20980397.0f518c","style":{"stroke":"#2e333a","stroke-opacity":"1","fill":"#2e333a","fill-opacity":"0.75","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["9748288a.e63af8","8ec2a31c.d4943","76fea591.c53cfc","7aa0a92b.932618","fff06dae.72e87"],"x":894,"y":179,"w":312,"h":322},{"id":"e271e8f2.d459c8","type":"group","z":"20980397.0f518c","style":{"stroke":"#2e333a","stroke-opacity":"1","fill":"#2e333a","fill-opacity":"0.75","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["97dce278.a6884","45aa624c.42c7dc"],"x":894,"y":19,"w":372,"h":142},{"id":"631cbcec.3d41c4","type":"group","z":"20980397.0f518c","style":{"stroke":"#2e333a","stroke-opacity":"1","fill":"#2e333a","fill-opacity":"0.75","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["32ddef30.114d5"],"x":914,"y":539,"w":292,"h":82},{"id":"b8c7bde2.42d3e","type":"group","z":"20980397.0f518c","style":{"stroke":"#2e333a","stroke-opacity":"1","fill":"#2e333a","fill-opacity":"0.75","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["173fc978.e8d0f7","a4e99bfa.7f8748","d47db1fe.82ea8"],"x":914,"y":659,"w":372,"h":202},{"id":"da605c90.94b1a","type":"group","z":"20980397.0f518c","style":{"stroke":"#2e333a","stroke-opacity":"1","fill":"#2e333a","fill-opacity":"0.75","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["472c43bb.7b630c"],"x":914,"y":899,"w":232,"h":82},{"id":"c8a666f.2f13298","type":"group","z":"587c0c33.841674","style":{"stroke":"#2e333a","stroke-opacity":"1","fill":"#2e333a","fill-opacity":"0.75","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["17e646c7.104739","518232c8.53380c","80feb232.0151"],"x":374,"y":19,"w":612,"h":142},{"id":"a8fdc134.71c3","type":"group","z":"587c0c33.841674","style":{"stroke":"#2e333a","stroke-opacity":"1","fill":"#2e333a","fill-opacity":"0.75","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["c63becb.5ff7c1","7560b268.4789dc"],"x":374,"y":179,"w":272,"h":162},{"id":"326c1646.c566ca","type":"group","z":"587c0c33.841674","style":{"stroke":"#2e333a","stroke-opacity":"1","fill":"#2e333a","fill-opacity":"0.75","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["831cdb97.8757e8"],"x":14,"y":119,"w":292,"h":82},{"id":"fc00c44b.bb99c8","type":"group","z":"20980397.0f518c","style":{"stroke":"#2e333a","stroke-opacity":"1","fill":"#2e333a","fill-opacity":"0.75","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["8c55fd4d.84dfe","35893efd.df4e92","4b02b534.6e1b5c","4f7bf0b7.8feec"],"x":74,"y":339,"w":572,"h":222},{"id":"a1047e7f.e8257","type":"server","name":"Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"b97ab1a6.4538d","type":"deconz-server","name":"DeCONZ HA","ip":"192.168.1.123","port":"40850","apikey":"D1A7FF949D","ws_port":"8081","secure":false,"polling":"15"},{"id":"83502b1c.05ad98","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c1a22aa9.95b278","type":"server-state-changed","z":"69d979d9.bffe18","name":"Minecraft Server Offline","server":"a1047e7f.e8257","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.minecraft_server_status","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"5","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":140,"y":40,"wires":[["3be90a6a.963f36","8fc84cbb.c167a"],[]],"icon":"font-awesome/fa-server"},{"id":"3be90a6a.963f36","type":"api-call-service","z":"69d979d9.bffe18","name":"Notify iPhone: OFFLINE","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_davids_iphone","entityId":"","data":"{\"title\":\"Minecraft Server is OFFLINE\",\"message\":\"Your Minecraft Server is offline for more then 5 minutes\",\"data\":{\"subtitle\":\"You should probably restart ist\"}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":410,"y":40,"wires":[[]]},{"id":"e989b827.9c41d8","type":"api-call-service","z":"69d979d9.bffe18","name":"Notify iPhone: ONLINE","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_davids_iphone","entityId":"","data":"{\"title\":\"Minecraft Server is back ONLINE\",\"message\":\"Your Minecraft Server is back online\",\"data\":{\"subtitle\":\"YAY!\"}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":660,"y":80,"wires":[[]]},{"id":"8fc84cbb.c167a","type":"ha-wait-until","z":"69d979d9.bffe18","name":"wait until on again","server":"a1047e7f.e8257","outputs":1,"entityId":"binary_sensor.minecraft_server_status","entityIdFilterType":"exact","property":"state","comparator":"is","value":"on","valueType":"str","timeout":0,"timeoutType":"num","timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":390,"y":100,"wires":[["e989b827.9c41d8"]]},{"id":"9deef339.91463","type":"api-render-template","z":"69d979d9.bffe18","name":"Player Name","server":"a1047e7f.e8257","template":"{{ state_attr('sensor.minecraft_server_players_online', 'players_list') }}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":370,"y":160,"wires":[["ae8a3985.078c48"]]},{"id":"ae8a3985.078c48","type":"api-call-service","z":"69d979d9.bffe18","name":"Notify iPhone: Player Online","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_davids_iphone","entityId":"","data":"{\"title\":\"Player joined\",\"message\":\"joined your Server\",\"data\":{\"subtitle\":\"{{payload}}\"}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":680,"y":160,"wires":[[]],"info":"There are for some reason formatting issues, but it gets the job done"},{"id":"a5cb967d.1653b8","type":"server-state-changed","z":"69d979d9.bffe18","name":"Minecraft Player joined","server":"a1047e7f.e8257","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.minecraft_server_players_online","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"0","halt_if_type":"num","halt_if_compare":"gt","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":140,"y":100,"wires":[["9deef339.91463"],[]]},{"id":"d90f49bc.213048","type":"server-state-changed","z":"69d979d9.bffe18","name":"NAS Security Status","server":"a1047e7f.e8257","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.delevennas_security_status","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":130,"y":240,"wires":[["523fb1e3.cd41b"],[]]},{"id":"523fb1e3.cd41b","type":"api-call-service","z":"69d979d9.bffe18","name":"iPhone Notification","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_davids_iphone","entityId":"","data":"{\"title\":\"NAS ALARM\",\"message\":\"DelevenNAS Security status has given a ALARM, check it\",\"data\":{\"subtitle\":\"Synology DS918+\"}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":350,"y":240,"wires":[[]]},{"id":"6ea73a63.5fb5b4","type":"server-state-changed","z":"69d979d9.bffe18","name":"NAS Update available","server":"a1047e7f.e8257","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.delevennas_security_status","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":140,"y":300,"wires":[["867f958f.efd4a8"],[]]},{"id":"867f958f.efd4a8","type":"api-call-service","z":"69d979d9.bffe18","name":"iPhone Notification","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_davids_iphone","entityId":"","data":"{\"title\":\"NAS Update available\",\"message\":\"You can now update your NAS\",\"data\":{\"subtitle\":\"Synology DS918+\"}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":350,"y":300,"wires":[[]]},{"id":"e4598e76.98ca3","type":"server-state-changed","z":"69d979d9.bffe18","name":"NAS CPU Warning","server":"a1047e7f.e8257","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.delevennas_cpu_load_total","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"85","halt_if_type":"num","halt_if_compare":"gt","outputs":2,"output_only_on_state_change":true,"for":"15","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":130,"y":360,"wires":[["496c8753.d52448"],[]]},{"id":"496c8753.d52448","type":"api-call-service","z":"69d979d9.bffe18","name":"iPhone Notification","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_davids_iphone","entityId":"","data":"{\"title\":\"NAS CPU Warning \",\"message\":\"CPU usage is over 85% for 15min, you should stop some processes\",\"data\":{\"subtitle\":\"Synology DS918+\"}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":350,"y":360,"wires":[[]]},{"id":"5156914b.50013","type":"server-state-changed","z":"69d979d9.bffe18","name":"NAS Disks are running warm","server":"a1047e7f.e8257","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.delevennas_volume_1_average_disk_temp","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"42","halt_if_type":"num","halt_if_compare":"gt","outputs":2,"output_only_on_state_change":true,"for":"15","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":160,"y":420,"wires":[["a5caf5db.e4dd28"],[]]},{"id":"a5caf5db.e4dd28","type":"api-call-service","z":"69d979d9.bffe18","name":"iPhone Notification","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_davids_iphone","entityId":"","data":"{\"title\":\"NAS Disks are running warm, cool them down\",\"message\":\"Average Disk Temp ist over 42°C for 15min (Standard is 38°C)\",\"data\":{\"subtitle\":\"Synology DS918+\"}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":410,"y":420,"wires":[[]]},{"id":"e2dcf055.0c445","type":"deconz-input","z":"a9487bf5.e08638","name":"IKEA on/off Switch Dave","server":"b97ab1a6.4538d","device":"5c:02:72:ff:fe:73:fb:ef-01-1000","device_name":"TRÅDFRI on/off switch : ZHASwitch","topic":"","state":"0","output":"always","outputAtStartup":true,"x":150,"y":120,"wires":[["cf6ca3e6.3b8f9"],[]]},{"id":"cf6ca3e6.3b8f9","type":"switch","z":"a9487bf5.e08638","name":"Small Remote Presses","property":"payload.buttonevent","propertyType":"msg","rules":[{"t":"eq","v":"1002","vt":"str"},{"t":"eq","v":"2002","vt":"str"},{"t":"eq","v":"1001","vt":"str"},{"t":"eq","v":"1003","vt":"str"},{"t":"eq","v":"2001","vt":"str"},{"t":"eq","v":"2003","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":600,"y":140,"wires":[["fb4de715.23ad88","a88096f6.665aa8"],["5567f71d.e0c708"],[],[],["e1d1ec7e.b3f57"],["e1d1ec7e.b3f57"]],"outputLabels":["I","O","I - Long","I - Long","O - Long","O - Long"],"info":"ON = I\nOFF = O\n\n1002 = short on\n2002 = short off\n\n1001 = long on, press down\n1003 = long on, release\n\n2001 = long off, press down\n2003 = long off, release"},{"id":"fb4de715.23ad88","type":"api-call-service","z":"a9487bf5.e08638","name":"Turn ON - Oldschoold bulb Daves Room 30%","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bulb_oldschool_daves_room","data":"{\"entity_id\":\"light.bulb_oldschool_daves_room\",\"brightness_pct\":30}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1300,"y":140,"wires":[[]]},{"id":"57fcd2a1.ac658c","type":"server-state-changed","z":"a9487bf5.e08638","name":"Motion Sensor - ON - Daves Room (Hue)","server":"a1047e7f.e8257","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.hue_motion_sensor_1_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":200,"y":40,"wires":[["28524b7a.025194"],[]]},{"id":"1d78dc41.b62134","type":"server-state-changed","z":"a9487bf5.e08638","name":"Motion Sensor - OFF  for 15min - Daves Room (Hue)","server":"a1047e7f.e8257","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.hue_motion_sensor_1_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"15","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":230,"y":220,"wires":[["5567f71d.e0c708"],["cea4173.cfe7de8"]]},{"id":"28524b7a.025194","type":"api-current-state","z":"a9487bf5.e08638","name":"Light level < 30","server":"a1047e7f.e8257","version":1,"outputs":2,"halt_if":"30","halt_if_type":"num","halt_if_compare":"lt","override_topic":false,"entity_id":"sensor.hue_motion_sensor_1_light_level","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":600,"y":40,"wires":[["a88096f6.665aa8"],[]]},{"id":"c31cea12.a3a768","type":"time-range-switch","z":"a9487bf5.e08638","name":"During the Night","lat":"47.20514130309792","lon":"7.533084308103839","startTime":"sunset","endTime":"sunrise","startOffset":"+ 01:00","endOffset":"+ 01:00","x":1380,"y":40,"wires":[["a64e6015.73c52"],["7bdb1efa.21788"]]},{"id":"7bdb1efa.21788","type":"api-call-service","z":"a9487bf5.e08638","name":"Turn ON - Daves Room bulp 100%","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bulb_daves_room","data":"{\"entity_id\":\"light.bulb_daves_room\",\"brightness_pct\":100,\"color_temp\":400}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1840,"y":80,"wires":[[]]},{"id":"a64e6015.73c52","type":"api-call-service","z":"a9487bf5.e08638","name":"Turn ON - Daves Room bulp 30%","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bulb_daves_room","data":"{\"entity_id\":\"light.bulb_daves_room\",\"brightness_pct\":30,\"color_temp\":500}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1840,"y":20,"wires":[[]]},{"id":"831cdb97.8757e8","type":"deconz-input","z":"587c0c33.841674","g":"326c1646.c566ca","name":"IKEA Motion Sensor Hallway","server":"b97ab1a6.4538d","device":"bc:33:ac:ff:fe:21:fb:a1-01-0006","device_name":"TRADFRI motion sensor  : ZHAPresence","topic":"","state":"presence","output":"onchange","outputAtStartup":true,"x":160,"y":160,"wires":[["17e646c7.104739","c63becb.5ff7c1"],["c63becb.5ff7c1"]]},{"id":"c63becb.5ff7c1","type":"stoptimer","z":"587c0c33.841674","g":"a8fdc134.71c3","duration":"10","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":480,"y":220,"wires":[["7560b268.4789dc"],[]]},{"id":"e78a4837.969848","type":"deconz-input","z":"9d5403c2.94c6d","name":"IKEA Motion Sensor Bathroom","server":"b97ab1a6.4538d","device":"bc:33:ac:ff:fe:25:4a:02-01-0006","device_name":"Bathroom Motion Sensor : ZHAPresence","topic":"","state":"presence","output":"always","outputAtStartup":true,"x":150,"y":80,"wires":[["da85ca30.d42598","ac275205.43572"],["ac275205.43572"]]},{"id":"17e646c7.104739","type":"time-range-switch","z":"587c0c33.841674","g":"c8a666f.2f13298","name":"During the Night","lat":"47.20514130309792","lon":"7.533084308103839","startTime":"sunset","endTime":"sunrise","startOffset":"+ 01:00","endOffset":"+ 01:00","x":480,"y":100,"wires":[["518232c8.53380c"],["80feb232.0151"]]},{"id":"518232c8.53380c","type":"api-call-service","z":"587c0c33.841674","g":"c8a666f.2f13298","name":"Turn on Hallway Bulb 30%","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.hallway_bulb","data":"{\"entity_id\":\"light.hallway_bulb\",\"brightness_pct\":30,\"color_temp\":500}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":840,"y":60,"wires":[[]]},{"id":"80feb232.0151","type":"api-call-service","z":"587c0c33.841674","g":"c8a666f.2f13298","name":"Turn on Hallway Bulb 100%","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.hallway_bulb","data":"{\"entity_id\":\"light.hallway_bulb\",\"brightness_pct\":100,\"color_temp\":400}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":840,"y":120,"wires":[[]]},{"id":"da85ca30.d42598","type":"time-range-switch","z":"9d5403c2.94c6d","name":"In the Morning","lat":"47.20514130309792","lon":"7.533084308103839","startTime":"05:00","endTime":"08:30","startOffset":0,"endOffset":0,"x":900,"y":260,"wires":[["4d755b3b.1a1964","de02dbd1.46ccf8","46165a3e.4b0494","9e275afb.ce61c8"],["d74ee5e0.bec828","b36d7f57.58eac","e7cfef14.1a073","3df5cf0c.e034d"]]},{"id":"4d755b3b.1a1964","type":"api-call-service","z":"9d5403c2.94c6d","name":"Turn ON Bathroom main to 30%","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bathroom_main_bulb","data":"{\"entity_id\":\"light.bathroom_main_bulb\",\"brightness_pct\":30}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1250,"y":40,"wires":[[]]},{"id":"d74ee5e0.bec828","type":"api-call-service","z":"9d5403c2.94c6d","name":"Turn ON Bathroom main to 100%","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bathroom_main_bulb","data":"{\"entity_id\":\"light.bathroom_main_bulb\",\"brightness_pct\":100}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1260,"y":300,"wires":[[]]},{"id":"de02dbd1.46ccf8","type":"api-call-service","z":"9d5403c2.94c6d","name":"Turn ON Bathroom mirror 1 to 30%","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bathroom_mirror_bulb_1","data":"{\"entity_id\":\"light.bathroom_mirror_bulb_1\",\"brightness_pct\":30}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1260,"y":100,"wires":[[]]},{"id":"b36d7f57.58eac","type":"api-call-service","z":"9d5403c2.94c6d","name":"Turn ON Bathroom mirror 1 to 100%","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bathroom_mirror_bulb_1","data":"{\"entity_id\":\"light.bathroom_mirror_bulb_1\",\"brightness_pct\":100}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1270,"y":360,"wires":[[]]},{"id":"46165a3e.4b0494","type":"api-call-service","z":"9d5403c2.94c6d","name":"Turn ON Bathroom mirror 2 to 30%","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bathroom_mirror_bulb_2","data":"{\"entity_id\":\"light.bathroom_mirror_bulb_2\",\"brightness_pct\":30}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1260,"y":160,"wires":[[]]},{"id":"9e275afb.ce61c8","type":"api-call-service","z":"9d5403c2.94c6d","name":"Turn ON Bathroom mirror 3 to 30%","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bathroom_mirror_bulb_3","data":"{\"entity_id\":\"light.bathroom_mirror_bulb_3\",\"brightness_pct\":30}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1260,"y":220,"wires":[[]]},{"id":"e7cfef14.1a073","type":"api-call-service","z":"9d5403c2.94c6d","name":"Turn ON Bathroom mirror 2 to 100%","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bathroom_mirror_bulb_2","data":"{\"entity_id\":\"light.bathroom_mirror_bulb_2\",\"brightness_pct\":100}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1270,"y":420,"wires":[[]]},{"id":"3df5cf0c.e034d","type":"api-call-service","z":"9d5403c2.94c6d","name":"Turn ON Bathroom mirror 3 to 100%","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bathroom_mirror_bulb_3","data":"{\"entity_id\":\"light.bathroom_mirror_bulb_3\",\"brightness_pct\":100}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1270,"y":480,"wires":[[]]},{"id":"cea4173.cfe7de8","type":"api-current-state","z":"a9487bf5.e08638","name":"Light level > 30","server":"a1047e7f.e8257","version":1,"outputs":2,"halt_if":"30","halt_if_type":"num","halt_if_compare":"gt","override_topic":false,"entity_id":"sensor.hue_motion_sensor_1_light_level","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":420,"y":280,"wires":[["5567f71d.e0c708"],[]]},{"id":"ac275205.43572","type":"stoptimer","z":"9d5403c2.94c6d","duration":"10","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":380,"y":320,"wires":[["acc86116.180e5","757e2d6b.6cf134"],[]]},{"id":"acc86116.180e5","type":"debug","z":"9d5403c2.94c6d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":370,"y":400,"wires":[]},{"id":"8c55fd4d.84dfe","type":"deconz-input","z":"20980397.0f518c","g":"fc00c44b.bb99c8","name":"IKEA on/off Switch Nachttisch Dave","server":"b97ab1a6.4538d","device":"5c:02:72:ff:fe:72:ce:fa-01-1000","device_name":"Dave Nachttisch : ZHASwitch","topic":"","state":"0","output":"always","outputAtStartup":true,"x":240,"y":440,"wires":[["4f7bf0b7.8feec","35893efd.df4e92"],[]]},{"id":"35893efd.df4e92","type":"switch","z":"20980397.0f518c","g":"fc00c44b.bb99c8","name":"Presses","property":"payload.buttonevent","propertyType":"msg","rules":[{"t":"eq","v":"1002","vt":"str"},{"t":"eq","v":"2002","vt":"str"},{"t":"eq","v":"1001","vt":"str"},{"t":"eq","v":"1003","vt":"str"},{"t":"eq","v":"2001","vt":"str"},{"t":"eq","v":"2003","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":560,"y":460,"wires":[["97dce278.a6884","45aa624c.42c7dc","9748288a.e63af8","8ec2a31c.d4943","76fea591.c53cfc","7aa0a92b.932618","fff06dae.72e87"],["32ddef30.114d5"],["173fc978.e8d0f7","a4e99bfa.7f8748","d47db1fe.82ea8"],["a4e99bfa.7f8748","173fc978.e8d0f7","d47db1fe.82ea8"],["472c43bb.7b630c"],["472c43bb.7b630c"]],"outputLabels":["I","O","I - Long","I - Long","O - Long","O - Long"],"info":"ON = I\nOFF = O\n\n1002 = short on\n2002 = short off\n\n1001 = long on, press down\n1003 = long on, release\n\n2001 = long off, press down\n2003 = long off, release"},{"id":"4b02b534.6e1b5c","type":"deconz-input","z":"20980397.0f518c","g":"fc00c44b.bb99c8","name":"IKEA on/off Switch Nachttisch Delia","server":"b97ab1a6.4538d","device":"5c:02:72:ff:fe:71:52:33-01-1000","device_name":"Delia Nachgttisch : ZHASwitch","topic":"","state":"0","output":"always","outputAtStartup":true,"x":240,"y":520,"wires":[["35893efd.df4e92"],[]]},{"id":"472c43bb.7b630c","type":"subflow:fca0d3bc.7c6fa","z":"20980397.0f518c","g":"da605c90.94b1a","name":"","x":1030,"y":940,"wires":[]},{"id":"f4f9216f.b48f2","type":"api-call-service","z":"191d2fd9.557c5","name":"Turn OFF - Home Group","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"media_player","service":"turn_off","entityId":"media_player.home_group","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":550,"y":160,"wires":[[]]},{"id":"ad818a81.1e6468","type":"api-call-service","z":"191d2fd9.557c5","name":"Turn - OFF Apple TV","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"media_player","service":"turn_off","entityId":"media_player.appletv_dave","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":540,"y":200,"wires":[[]]},{"id":"d9ff0bb4.773b18","type":"subflow:191d2fd9.557c5","z":"fca0d3bc.7c6fa","g":"4844cd8b.29d2c4","name":"","env":[],"x":690,"y":120,"wires":[]},{"id":"10d20194.c2b12e","type":"api-call-service","z":"91e77bd8.9adbc8","name":"Turn OFF - Bathroom Main Light","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.bathroom_main_bulb","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":470,"y":80,"wires":[[]]},{"id":"dcccf895.3142f8","type":"api-call-service","z":"df858848.e3c668","name":"Turn OFF - Hallway Light bulb","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.hallway_bulb","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":310,"y":60,"wires":[[]]},{"id":"e42f6932.991848","type":"api-call-service","z":"308993a3.b5269c","name":"Turn OFF - Bedroom Bulb","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.bulb_bedroom","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":390,"y":120,"wires":[[]]},{"id":"5a8432aa.503f8c","type":"api-call-service","z":"1a249e70.de0812","name":"Turn OFF - Dining Room Light bulb","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.bulb_dining_room","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":320,"y":80,"wires":[[]]},{"id":"554f8860.fb9988","type":"api-call-service","z":"b2ccae35.e468b","name":"Turn OFF - Living Room Bulb","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.bulb_living_room","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":340,"y":60,"wires":[[]]},{"id":"ad81771e.b3db08","type":"api-call-service","z":"31296d80.2c2052","name":"Turn OFF - Daves Room Bulb","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.bulb_daves_room","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":490,"y":120,"wires":[[]]},{"id":"7c3637c1.c09178","type":"api-call-service","z":"31296d80.2c2052","name":"Turn OFF - Daves Oldschool Bulb","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.bulb_oldschool_daves_room","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":500,"y":160,"wires":[[]]},{"id":"8da32a5a.2e68b8","type":"subflow:31296d80.2c2052","z":"fca0d3bc.7c6fa","g":"9c5d6f31.0ccab","name":"","x":750,"y":280,"wires":[]},{"id":"5567f71d.e0c708","type":"subflow:31296d80.2c2052","z":"a9487bf5.e08638","name":"","x":1670,"y":240,"wires":[]},{"id":"e1d1ec7e.b3f57","type":"subflow:fca0d3bc.7c6fa","z":"a9487bf5.e08638","name":"","x":910,"y":200,"wires":[]},{"id":"c8249c3.6d3676","type":"subflow:91e77bd8.9adbc8","z":"fca0d3bc.7c6fa","g":"9c5d6f31.0ccab","x":740,"y":400,"wires":[]},{"id":"916ac074.599a3","type":"api-call-service","z":"91e77bd8.9adbc8","name":"Turn OFF - Bathroom Mirror Light 1","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.bathroom_mirror_bulb_1","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":480,"y":120,"wires":[[]]},{"id":"4f3778f5.32c3e8","type":"api-call-service","z":"91e77bd8.9adbc8","name":"Turn OFF - Bathroom Mirror Light 2","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.bathroom_mirror_bulb_2","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":480,"y":160,"wires":[[]]},{"id":"224f29f9.03ad56","type":"api-call-service","z":"91e77bd8.9adbc8","name":"Turn OFF - Bathroom Mirror Light 3","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.bathroom_mirror_bulb_3","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":480,"y":200,"wires":[[]]},{"id":"c1d4e5aa.c8b398","type":"subflow:df858848.e3c668","z":"fca0d3bc.7c6fa","g":"9c5d6f31.0ccab","name":"","env":[],"x":730,"y":640,"wires":[]},{"id":"25522265.e260fe","type":"comment","z":"df858848.e3c668","name":"Add Smartplug for \"Ständerlampe\"","info":"","x":330,"y":120,"wires":[]},{"id":"e5b940eb.d4939","type":"subflow:1a249e70.de0812","z":"fca0d3bc.7c6fa","g":"9c5d6f31.0ccab","x":750,"y":460,"wires":[]},{"id":"86a13bd3.2b56c8","type":"comment","z":"1a249e70.de0812","name":"Add Smartplug for \"Ständerlampe\"","info":"","x":320,"y":40,"wires":[]},{"id":"853ac2f7.ca962","type":"subflow:b2ccae35.e468b","z":"fca0d3bc.7c6fa","g":"9c5d6f31.0ccab","x":750,"y":520,"wires":[]},{"id":"ecffda33.315538","type":"api-call-service","z":"b2ccae35.e468b","name":"Turn OFF - Ständerlampe","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.living_room_smartplug","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":330,"y":120,"wires":[[]]},{"id":"4d0f3da6.7cdca4","type":"subflow:308993a3.b5269c","z":"fca0d3bc.7c6fa","g":"9c5d6f31.0ccab","x":740,"y":580,"wires":[]},{"id":"b230c0b3.c2cf5","type":"api-call-service","z":"308993a3.b5269c","name":"Turn OFF - Nighttable Lamp Delia","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.bulb_nighttable_delia","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":420,"y":180,"wires":[[]]},{"id":"5e6211cc.3ec82","type":"api-call-service","z":"308993a3.b5269c","name":"Turn OFF - Nighttable Lamp Dave","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.bulb_nighttable_dave","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":420,"y":240,"wires":[[]]},{"id":"32ddef30.114d5","type":"subflow:308993a3.b5269c","z":"20980397.0f518c","g":"631cbcec.3d41c4","name":"","x":1060,"y":580,"wires":[]},{"id":"7560b268.4789dc","type":"subflow:df858848.e3c668","z":"587c0c33.841674","g":"a8fdc134.71c3","name":"","x":510,"y":300,"wires":[]},{"id":"757e2d6b.6cf134","type":"subflow:91e77bd8.9adbc8","z":"9d5403c2.94c6d","name":"","x":1240,"y":560,"wires":[]},{"id":"4f7bf0b7.8feec","type":"debug","z":"20980397.0f518c","g":"fc00c44b.bb99c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":190,"y":380,"wires":[]},{"id":"97dce278.a6884","type":"api-call-service","z":"20980397.0f518c","g":"e271e8f2.d459c8","name":"Turn ON - Daves Nighttable Lamp 30%","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bulb_nighttable_dave","data":"{\"entity_id\":\"light.bulb_nighttable_dave\",\"brightness_pct\":30,\"color_temp\":500}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1080,"y":60,"wires":[[]]},{"id":"45aa624c.42c7dc","type":"api-call-service","z":"20980397.0f518c","g":"e271e8f2.d459c8","name":"Turn ON - Delias Nighttable Lamp 30%","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bulb_nighttable_delia","data":"{\"entity_id\":\"light.bulb_nighttable_delia\",\"brightness_pct\":30,\"color_temp\":500}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1080,"y":120,"wires":[[]]},{"id":"9748288a.e63af8","type":"api-call-service","z":"20980397.0f518c","g":"8db5acc1.23947","name":"Turn OFF - Bedroom Main Light","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.bulb_bedroom","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1050,"y":220,"wires":[[]]},{"id":"173fc978.e8d0f7","type":"api-call-service","z":"20980397.0f518c","g":"b8c7bde2.42d3e","name":"Turn ON - Daves Nighttable Lamp 100%","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bulb_nighttable_dave","data":"{\"entity_id\":\"light.bulb_nighttable_dave\",\"brightness_pct\":100,\"color_temp\":500}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1100,"y":700,"wires":[[]]},{"id":"a4e99bfa.7f8748","type":"api-call-service","z":"20980397.0f518c","g":"b8c7bde2.42d3e","name":"Turn ON - Delias Nighttable Lamp 100%","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bulb_nighttable_delia","data":"{\"entity_id\":\"light.bulb_nighttable_delia\",\"brightness_pct\":100,\"color_temp\":500}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1100,"y":760,"wires":[[]]},{"id":"d47db1fe.82ea8","type":"api-call-service","z":"20980397.0f518c","g":"b8c7bde2.42d3e","name":"Turn ON - Bedroom Main Light","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bulb_bedroom","data":"{\"entity_id\":\"light.bulb_bedroom\",\"brightness_pct\":100,\"color_temp\":400}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1070,"y":820,"wires":[[]]},{"id":"95a58520.359ce8","type":"deconz-input","z":"a9487bf5.e08638","name":"Media Controller","server":"b97ab1a6.4538d","device":"ec:1b:bd:ff:fe:32:47:cf-01-1000","device_name":"Volume - Play - Mute Controller : ZHASwitch","topic":"","state":0,"output":"always","outputAtStartup":true,"x":140,"y":760,"wires":[["c6bc561a.8719b8","d232f4df.202318"],[]]},{"id":"d232f4df.202318","type":"debug","z":"a9487bf5.e08638","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":620,"wires":[]},{"id":"c6bc561a.8719b8","type":"switch","z":"a9487bf5.e08638","name":"Media Control - Moves","property":"payload.buttonevent","propertyType":"msg","rules":[{"t":"eq","v":"2001","vt":"str"},{"t":"eq","v":"2003","vt":"str"},{"t":"eq","v":"3001","vt":"str"},{"t":"eq","v":"3003","vt":"str"},{"t":"eq","v":"1002","vt":"str"},{"t":"eq","v":"1004","vt":"str"},{"t":"eq","v":"1005","vt":"str"}],"checkall":"true","repair":false,"outputs":7,"x":790,"y":760,"wires":[["cd91aeff.c7dad"],[],["59f453a5.701cec"],[],["969b5532.588d48"],["799dd03d.ed404"],["de674834.ff3148"]],"outputLabels":["Turn Right","Turn Right","Turn Left","Turn Left","1x click","2x click","3x click"],"info":"ON = I\nOFF = O\n\n1002 = short on\n2002 = short off\n\n1001 = long on, press down\n1003 = long on, release\n\n2001 = long off, press down\n2003 = long off, release"},{"id":"cd91aeff.c7dad","type":"api-call-service","z":"a9487bf5.e08638","name":"Volume UP","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"media_player","service":"volume_up","entityId":"media_player.home_group","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1020,"y":640,"wires":[[]]},{"id":"59f453a5.701cec","type":"api-call-service","z":"a9487bf5.e08638","name":"Volume DOWN","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"media_player","service":"volume_down","entityId":"media_player.home_group","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1030,"y":700,"wires":[[]]},{"id":"969b5532.588d48","type":"api-call-service","z":"a9487bf5.e08638","name":"Play Pause","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"media_player","service":"media_play_pause","entityId":"media_player.home_group","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1020,"y":760,"wires":[[]]},{"id":"799dd03d.ed404","type":"api-call-service","z":"a9487bf5.e08638","name":"Next Track","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"media_player","service":"media_next_track","entityId":"media_player.home_group","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1020,"y":820,"wires":[[]]},{"id":"de674834.ff3148","type":"api-call-service","z":"a9487bf5.e08638","name":"Previouse Track","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"media_player","service":"media_previous_track","entityId":"media_player.home_group","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1030,"y":880,"wires":[[]]},{"id":"50557dc9.326394","type":"deconz-input","z":"a9487bf5.e08638","name":"Remote","server":"b97ab1a6.4538d","device":"bc:33:ac:ff:fe:89:d6:39-01-1000","device_name":"Daves TRÅDFRI remote control : ZHASwitch","topic":"","state":0,"output":"always","outputAtStartup":true,"x":110,"y":1020,"wires":[["f6cc0d49.cbbe2","d232f4df.202318"],[]]},{"id":"f6cc0d49.cbbe2","type":"switch","z":"a9487bf5.e08638","name":"Remote Buttons","property":"payload.buttonevent","propertyType":"msg","rules":[{"t":"eq","v":"1002","vt":"str"},{"t":"eq","v":"2002","vt":"str"},{"t":"eq","v":"3002","vt":"str"},{"t":"eq","v":"4002","vt":"str"},{"t":"eq","v":"5002","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":540,"y":1020,"wires":[[],[],[],[],[]],"outputLabels":["Middle Button","Up","Down","Left","Right"]},{"id":"3c275d1e.8475f2","type":"subflow:31296d80.2c2052","z":"53759d33.dbf614","name":"","env":[],"x":390,"y":80,"wires":[]},{"id":"3aea1d87.def632","type":"server-state-changed","z":"53759d33.dbf614","name":"Dave Room Lights","server":"a1047e7f.e8257","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.dave_room_lights","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":110,"y":60,"wires":[["35fcc8e6.f13898"],["3c275d1e.8475f2"]]},{"id":"61b72c16.31c024","type":"api-call-service","z":"80919431.d3aeb8","name":"Turn ON - Daves Room Bulb","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bulb_daves_room","data":"{\"entity_id\":\"light.bulb_daves_room\",\"brightness_pct\":100,\"color_temp\":400}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":520,"y":160,"wires":[[]]},{"id":"4df21d5a.5bb9c4","type":"api-call-service","z":"80919431.d3aeb8","name":"Turn ON- Daves Oldschool Bulb","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bulb_oldschool_daves_room","data":"{\"entity_id\":\"light.bulb_oldschool_daves_room\",\"brightness_pct\":1,\"color_temp\":400}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":530,"y":200,"wires":[[]]},{"id":"35fcc8e6.f13898","type":"subflow:80919431.d3aeb8","z":"53759d33.dbf614","name":"","x":380,"y":40,"wires":[]},{"id":"a88096f6.665aa8","type":"api-current-state","z":"a9487bf5.e08638","name":"Night-Time Overwrite","server":"a1047e7f.e8257","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.night_time_overwrite","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":900,"y":80,"wires":[["7bdb1efa.21788"],["c31cea12.a3a768"]]},{"id":"8ec2a31c.d4943","type":"subflow:1a249e70.de0812","z":"20980397.0f518c","g":"8db5acc1.23947","name":"","x":1050,"y":280,"wires":[]},{"id":"76fea591.c53cfc","type":"subflow:b2ccae35.e468b","z":"20980397.0f518c","g":"8db5acc1.23947","name":"","x":1050,"y":340,"wires":[]},{"id":"98b3d3e4.19a7a","type":"api-call-service","z":"3defc10e.864d7e","name":"Turn OFF - Bedroom Main Light","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.delias_room_bulb","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":510,"y":200,"wires":[[]]},{"id":"7aa0a92b.932618","type":"subflow:3defc10e.864d7e","z":"20980397.0f518c","g":"8db5acc1.23947","name":"","x":1030,"y":460,"wires":[]},{"id":"fff06dae.72e87","type":"subflow:31296d80.2c2052","z":"20980397.0f518c","g":"8db5acc1.23947","name":"","x":1050,"y":400,"wires":[]},{"id":"3dc9387a.c23e98","type":"subflow:3defc10e.864d7e","z":"fca0d3bc.7c6fa","g":"9c5d6f31.0ccab","name":"","x":730,"y":340,"wires":[]},{"id":"695217e0.6f9858","type":"comment","z":"fca0d3bc.7c6fa","g":"4844cd8b.29d2c4","name":"MEDIA","info":"","x":650,"y":80,"wires":[]},{"id":"7d37fa2.a81dd04","type":"comment","z":"fca0d3bc.7c6fa","g":"9c5d6f31.0ccab","name":"LIGHTS","info":"","x":670,"y":240,"wires":[]}]