node-red/flows.json
[{"id":"d557c18.2101e4","type":"tab","label":"Playground","disabled":false,"info":""},{"id":"65592cad.294c14","type":"tab","label":"Template - Lights OFF","disabled":false,"info":""},{"id":"3a76cae2.0155c6","type":"tab","label":"Template - Lights ON","disabled":false,"info":""},{"id":"58d52dd.969a1d4","type":"tab","label":"Template - Media","disabled":false,"info":""},{"id":"53759d33.dbf614","type":"tab","label":"HA Toggles","disabled":false,"info":""},{"id":"69d979d9.bffe18","type":"tab","label":"Notifications","disabled":false,"info":""},{"id":"9744d121.b32ac","type":"tab","label":"SCENES","disabled":false,"info":""},{"id":"a9487bf5.e08638","type":"tab","label":"Room - Daves Room","disabled":false,"info":""},{"id":"9d5403c2.94c6d","type":"tab","label":"Room - Bathroom","disabled":false,"info":""},{"id":"587c0c33.841674","type":"tab","label":"Room - Hallway","disabled":false,"info":""},{"id":"20980397.0f518c","type":"tab","label":"Room - Bedroom","disabled":false,"info":"\nSwitch long full brightness\nSwitch long off turn off everything\nswitch Off turn off bedroom\nSwitch On Bedtime Mood"},{"id":"f27b6ef1.f56d7","type":"tab","label":"Room - Dining Room","disabled":false,"info":""},{"id":"35b904b5.8b245c","type":"tab","label":"Room - Living Room","disabled":false,"info":""},{"id":"8db5acc1.23947","type":"group","z":"20980397.0f518c","style":{"stroke":"#2e333a","stroke-opacity":"1","fill":"#2e333a","fill-opacity":"0.75","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["9748288a.e63af8","3b718e45.510f62","c207085.e1e91f8","8d260ef3.8c131","215c0f0.70c2ff2"],"x":894,"y":199,"w":312,"h":262},{"id":"e271e8f2.d459c8","type":"group","z":"20980397.0f518c","style":{"stroke":"#2e333a","stroke-opacity":"1","fill":"#2e333a","fill-opacity":"0.75","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["97dce278.a6884","45aa624c.42c7dc"],"x":894,"y":19,"w":372,"h":142},{"id":"631cbcec.3d41c4","type":"group","z":"20980397.0f518c","style":{"stroke":"#2e333a","stroke-opacity":"1","fill":"#2e333a","fill-opacity":"0.75","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["956569c1.912e28"],"x":894,"y":479,"w":292,"h":82},{"id":"b8c7bde2.42d3e","type":"group","z":"20980397.0f518c","style":{"stroke":"#2e333a","stroke-opacity":"1","fill":"#2e333a","fill-opacity":"0.75","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["173fc978.e8d0f7","a4e99bfa.7f8748","d47db1fe.82ea8"],"x":894,"y":579,"w":372,"h":202},{"id":"c8a666f.2f13298","type":"group","z":"587c0c33.841674","style":{"stroke":"#2e333a","stroke-opacity":"1","fill":"#2e333a","fill-opacity":"0.75","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["17e646c7.104739","518232c8.53380c","80feb232.0151"],"x":534,"y":39,"w":612,"h":142},{"id":"a8fdc134.71c3","type":"group","z":"587c0c33.841674","style":{"stroke":"#2e333a","stroke-opacity":"1","fill":"#2e333a","fill-opacity":"0.75","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["f2e1b645.5d6178","5e588022.6705e","f686d1f7.3943a"],"x":534,"y":299,"w":272,"h":162},{"id":"326c1646.c566ca","type":"group","z":"587c0c33.841674","style":{"stroke":"#2e333a","stroke-opacity":"1","fill":"#2e333a","fill-opacity":"0.75","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["831cdb97.8757e8"],"x":14,"y":179,"w":372,"h":82},{"id":"fc00c44b.bb99c8","type":"group","z":"20980397.0f518c","style":{"stroke":"#2e333a","stroke-opacity":"1","fill":"#2e333a","fill-opacity":"0.75","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["8c55fd4d.84dfe","35893efd.df4e92","4b02b534.6e1b5c"],"x":74,"y":389,"w":572,"h":172},{"id":"5234d4b9.4962ec","type":"group","z":"9d5403c2.94c6d","style":{"stroke":"#2e333a","stroke-opacity":"1","fill":"#2e333a","fill-opacity":"0.75","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["d74ee5e0.bec828","b36d7f57.58eac","e7cfef14.1a073","3df5cf0c.e034d"],"x":394,"y":39,"w":352,"h":262},{"id":"8d1b11c0.4ac02","type":"group","z":"9d5403c2.94c6d","style":{"stroke":"#2e333a","stroke-opacity":"1","fill":"#2e333a","fill-opacity":"0.75","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["7abe740a.3ca97c","50608cb1.f5d924"],"x":394,"y":359,"w":292,"h":122},{"id":"b57a0740.bdffc8","type":"group","z":"9d5403c2.94c6d","style":{"stroke":"#2e333a","stroke-opacity":"1","fill":"#2e333a","fill-opacity":"0.75","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["e78a4837.969848"],"x":34,"y":259,"w":312,"h":82},{"id":"3cd37e70.949be2","type":"group","z":"a9487bf5.e08638","style":{"stroke":"#2e333a","stroke-opacity":"1","fill":"#2e333a","fill-opacity":"0.75","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["95a58520.359ce8","c6bc561a.8719b8","cd91aeff.c7dad","59f453a5.701cec","969b5532.588d48","799dd03d.ed404","de674834.ff3148"],"x":14,"y":559,"w":1102,"h":322},{"id":"7d8f70a1.db53a","type":"group","z":"a9487bf5.e08638","style":{"stroke":"#2e333a","stroke-opacity":"1","fill":"#2e333a","fill-opacity":"0.75","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["e2dcf055.0c445","cf6ca3e6.3b8f9","367de73a.ceecd8","ec32aaa4.8acdd8","c2dc7da5.9f995","e35593fd.78bdc"],"x":14,"y":279,"w":1112,"h":262},{"id":"36fcd6c0.b9b10a","type":"group","z":"65592cad.294c14","style":{"stroke":"#2e333a","stroke-opacity":"1","fill":"#2e333a","fill-opacity":"0.75","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["63a35f62.a275b","739fbe47.63d3a","e7469c6.03d676","fcb1acb4.b4713","18964528.4d26cb"],"x":114,"y":39,"w":712,"h":262},{"id":"663394e6.918fcc","type":"group","z":"65592cad.294c14","style":{"stroke":"#2e333a","stroke-opacity":"1","fill":"#2e333a","fill-opacity":"0.75","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["55411ab0.53dee4","7b67fc90.af6ee4","318a8177.81d17e"],"x":114,"y":319,"w":632,"h":142},{"id":"6ff26da8.c4cd34","type":"group","z":"65592cad.294c14","style":{"stroke":"#2e333a","stroke-opacity":"1","fill":"#2e333a","fill-opacity":"0.75","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["fbf0121f.8837c","905e4e0e.9a48f","7d3c5cd2.344d34","beecb983.18e678"],"x":114,"y":479,"w":592,"h":202},{"id":"3c41326a.22866e","type":"group","z":"65592cad.294c14","style":{"stroke":"#2e333a","stroke-opacity":"1","fill":"#2e333a","fill-opacity":"0.75","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["e5c0fa1f.f6e538","ba59c60d.437788"],"x":114,"y":699,"w":592,"h":82},{"id":"7323c361.74746c","type":"group","z":"65592cad.294c14","style":{"stroke":"#2e333a","stroke-opacity":"1","fill":"#2e333a","fill-opacity":"0.75","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["c0d52063.68b27","c3d7f810.331828","18e2add3.5a28f2"],"x":114,"y":799,"w":592,"h":142},{"id":"10bfa400.196ecc","type":"group","z":"65592cad.294c14","style":{"stroke":"#2e333a","stroke-opacity":"1","fill":"#2e333a","fill-opacity":"0.75","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["b3363d19.398eb","46144f05.bd843","82898d93.0650b","aa71552d.f7e908","907f6152.e93a2"],"x":114,"y":959,"w":612,"h":262},{"id":"4e90a66d.6aece8","type":"group","z":"65592cad.294c14","style":{"stroke":"#2e333a","stroke-opacity":"1","fill":"#2e333a","fill-opacity":"0.75","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["18702b91.204074","b797fcbb.5faa9","8d8200f2.2cbde","5ef394a3.6a4ebc"],"x":114,"y":1239,"w":632,"h":202},{"id":"e17e5130.47e05","type":"group","z":"20980397.0f518c","style":{"stroke":"#2e333a","stroke-opacity":"1","fill":"#2e333a","fill-opacity":"0.75","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["282324d8.bd2e6c"],"x":894,"y":819,"w":272,"h":82},{"id":"562d6b9.e969794","type":"group","z":"3a76cae2.0155c6","style":{"stroke":"#2e333a","stroke-opacity":"1","fill":"#2e333a","fill-opacity":"0.75","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["aeccba19.00f008","1ed1016b.df9f5f","5165bbc3.9f4bb4","e14f42d8.9203","b8278717.99c7f8"],"x":174,"y":19,"w":732,"h":262},{"id":"d748fba9.7d2418","type":"group","z":"3a76cae2.0155c6","style":{"stroke":"#2e333a","stroke-opacity":"1","fill":"#2e333a","fill-opacity":"0.75","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["4321e5b9.5e062c","27230767.6d8398","45c42c1.b8c7dd4"],"x":174,"y":839,"w":592,"h":142},{"id":"b338db20.dbe598","type":"group","z":"3a76cae2.0155c6","style":{"stroke":"#2e333a","stroke-opacity":"1","fill":"#2e333a","fill-opacity":"0.75","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["7e9d1b94.7516b4","e03ecc5b.56957","cf6b5aa3.c218a8"],"x":174,"y":359,"w":672,"h":142},{"id":"11c05a7e.19f5d6","type":"group","z":"3a76cae2.0155c6","style":{"stroke":"#2e333a","stroke-opacity":"1","fill":"#2e333a","fill-opacity":"0.75","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["de7b9e01.c3677","75495f76.70b06"],"x":174,"y":739,"w":632,"h":82},{"id":"993a0e64.77fb1","type":"group","z":"3a76cae2.0155c6","style":{"stroke":"#2e333a","stroke-opacity":"1","fill":"#2e333a","fill-opacity":"0.75","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["73a90340.409f5c","529ea570.c91c4c","ab826b15.c03938","ef24a822.468ed8"],"x":174,"y":519,"w":632,"h":202},{"id":"44398f7b.0641e","type":"group","z":"3a76cae2.0155c6","style":{"stroke":"#2e333a","stroke-opacity":"1","fill":"#2e333a","fill-opacity":"0.75","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["823feadb.86b308","12a15faa.3c10f","ed6438fc.082748","2cf1e1a7.3d006e"],"x":174,"y":1279,"w":652,"h":202},{"id":"ede5de58.f2e9a","type":"group","z":"3a76cae2.0155c6","style":{"stroke":"#2e333a","stroke-opacity":"1","fill":"#2e333a","fill-opacity":"0.75","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["c45e99b.9727b68","5668af70.3b684","c1b95d37.66b42","da292c9c.1701","5bdaee81.394ab"],"x":174,"y":999,"w":652,"h":262},{"id":"e49f108d.06bfa","type":"group","z":"3a76cae2.0155c6","style":{"stroke":"#2e333a","stroke-opacity":"1","fill":"#2e333a","fill-opacity":"0.75","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["5b3474a2.1c321c","d11fd2dd.98b29"],"x":1014,"y":419,"w":772,"h":82},{"id":"68954508.cf8dec","type":"group","z":"65592cad.294c14","style":{"stroke":"#2e333a","stroke-opacity":"1","fill":"#2e333a","fill-opacity":"0.75","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["923ca14a.6205c","ae72a8c.f088a58"],"x":834,"y":53,"w":678,"h":434},{"id":"643f819e.4195b","type":"group","z":"3a76cae2.0155c6","style":{"stroke":"#2e333a","stroke-opacity":"1","fill":"#2e333a","fill-opacity":"0.75","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["2dfd7c45.074664","cea90242.7aba2"],"x":1014,"y":-27,"w":658,"h":434},{"id":"6b6e5eae.10d7","type":"group","z":"53759d33.dbf614","style":{"stroke":"#2e333a","stroke-opacity":"1","fill":"#2e333a","fill-opacity":"0.75","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["864aaca8.f81c4","cab98441.d10538","2058d59c.8d9bca"],"x":34,"y":79,"w":572,"h":122},{"id":"6a400bbf.be37f4","type":"group","z":"53759d33.dbf614","style":{"stroke":"#2e333a","stroke-opacity":"1","fill":"#2e333a","fill-opacity":"0.75","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["6646bd9c.92e124","94607dd5.eb59b","cbcb1a9c.1b6028"],"x":34,"y":219,"w":552,"h":122},{"id":"5d80d086.7b6ef","type":"group","z":"53759d33.dbf614","style":{"stroke":"#2e333a","stroke-opacity":"1","fill":"#2e333a","fill-opacity":"0.75","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["113438b5.f3bbb7","488b7e34.f569","65588853.f40788"],"x":34,"y":359,"w":552,"h":122},{"id":"e155488a.ad6948","type":"group","z":"53759d33.dbf614","style":{"stroke":"#2e333a","stroke-opacity":"1","fill":"#2e333a","fill-opacity":"0.75","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["ccf73977.3e1888","c470f056.1bd0c","a065e23e.76daa"],"x":34,"y":499,"w":512,"h":122},{"id":"31c43154.df74ee","type":"group","z":"53759d33.dbf614","style":{"stroke":"#2e333a","stroke-opacity":"1","fill":"#2e333a","fill-opacity":"0.75","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["ddb9bc01.17ec6","3a398c94.8d1904","f0398bd3.3eabf8"],"x":34,"y":639,"w":532,"h":122},{"id":"63c787d4.c0e648","type":"group","z":"53759d33.dbf614","style":{"stroke":"#2e333a","stroke-opacity":"1","fill":"#2e333a","fill-opacity":"0.75","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["a2261767.2f0ee8","8e5ac0e0.992b5","694ddf88.90022"],"x":34,"y":779,"w":532,"h":122},{"id":"f6cb70f6.3ad25","type":"group","z":"53759d33.dbf614","style":{"stroke":"#2e333a","stroke-opacity":"1","fill":"#2e333a","fill-opacity":"0.75","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["f4024238.324f1","7dd38b9d.1896c4"],"x":714,"y":59,"w":732,"h":82},{"id":"cd2fae45.1ca6d","type":"group","z":"53759d33.dbf614","style":{"stroke":"#2e333a","stroke-opacity":"1","fill":"#2e333a","fill-opacity":"0.75","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["b639778a.e6aff8","c4033dbf.a2c59","7b707949.bea498"],"x":714,"y":259,"w":632,"h":142},{"id":"f49757ea.189b68","type":"group","z":"58d52dd.969a1d4","style":{"stroke":"#2e333a","stroke-opacity":"1","fill":"#2e333a","fill-opacity":"0.75","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["4d38d8a.205c728","e2235788.bbb488","271ef12d.46425e","fe83d5e.dacf728","e030b1b5.c5a3","827e411e.bcce","22c6c89c.b11598","56158600.29192c","398e1c30.d2fc04"],"x":274,"y":39,"w":632,"h":502},{"id":"3b7aaf17.27637","type":"group","z":"587c0c33.841674","style":{"stroke":"#2e333a","stroke-opacity":"1","fill":"#2e333a","fill-opacity":"0.75","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["50e0dd78.fc0fb4","d3e34054.21acb"],"x":14,"y":39,"w":462,"h":122},{"id":"cffacd60.c6441","type":"group","z":"69d979d9.bffe18","style":{"stroke":"#2e333a","stroke-opacity":"1","fill":"#2e333a","fill-opacity":"0.75","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["d90f49bc.213048","523fb1e3.cd41b","6ea73a63.5fb5b4","867f958f.efd4a8","e4598e76.98ca3","496c8753.d52448","5156914b.50013","a5caf5db.e4dd28"],"x":14,"y":279,"w":512,"h":262},{"id":"785ccae8.5ef7b4","type":"group","z":"69d979d9.bffe18","style":{"stroke":"#2e333a","stroke-opacity":"1","fill":"#2e333a","fill-opacity":"0.75","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["c1a22aa9.95b278","3be90a6a.963f36","e989b827.9c41d8","8fc84cbb.c167a","9deef339.91463","ae8a3985.078c48","a5cb967d.1653b8"],"x":14,"y":39,"w":812,"h":202},{"id":"9537724a.8ac33","type":"group","z":"69d979d9.bffe18","style":{"stroke":"#2e333a","stroke-opacity":"1","fill":"#2e333a","fill-opacity":"0.75","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["49410bb6.711324","40da70e8.64624","a12ecd49.10b41","b6ac4a01.382df8","b06a0ec0.039dc","45619db.3c50b64","c62a5693.c50208","2cf1806a.bd814"],"x":14,"y":579,"w":512,"h":262},{"id":"1358157a.9a19fb","type":"group","z":"587c0c33.841674","style":{"stroke":"#2e333a","stroke-opacity":"1","fill":"#2e333a","fill-opacity":"0.75","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["bd7c2383.4c681"],"x":534,"y":199,"w":292,"h":82},{"id":"923981b6.ed639","type":"group","z":"53759d33.dbf614","style":{"stroke":"#2e333a","stroke-opacity":"1","fill":"#2e333a","fill-opacity":"0.75","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["cf054469.109e08","c56e2c40.77bbf","f621e0e4.b719f"],"x":34,"y":919,"w":612,"h":142},{"id":"3c1ddaa1.9d4e36","type":"group","z":"65592cad.294c14","style":{"stroke":"#2e333a","stroke-opacity":"1","fill":"#2e333a","fill-opacity":"0.75","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["a936f651.3f7038","e6c7cee7.f2898","401cc020.9ba21"],"x":834,"y":519,"w":732,"h":162},{"id":"573c1c1.e6d8de4","type":"group","z":"3a76cae2.0155c6","style":{"stroke":"#2e333a","stroke-opacity":"1","fill":"#2e333a","fill-opacity":"0.75","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["e939d2b9.ae3c4","1bdbdbf0.07a134","b2ad4680.ebbff8"],"x":1014,"y":519,"w":712,"h":162},{"id":"a1c29bd4.7a25d8","type":"group","z":"53759d33.dbf614","style":{"stroke":"#2e333a","stroke-opacity":"1","fill":"#2e333a","fill-opacity":"0.75","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["e1479de0.46507","80e42225.ea63c","d09f1b5d.06ff08"],"x":714,"y":419,"w":652,"h":162},{"id":"85816586.bf1c08","type":"group","z":"53759d33.dbf614","style":{"stroke":"#2e333a","stroke-opacity":"1","fill":"#2e333a","fill-opacity":"0.75","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["54cb28b4.299098","36cf8c6c.cbc964"],"x":714,"y":159,"w":352,"h":82},{"id":"474e24c1.0fbbac","type":"group","z":"9744d121.b32ac","style":{"stroke":"#2e333a","stroke-opacity":"1","fill":"#2e333a","fill-opacity":"0.75","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["d6edc033.dabbb","53a2189d.f31848","40514d07.21cc34","e76599aa.bf5f88","c23142a3.7a6c"],"x":114,"y":39,"w":532,"h":262},{"id":"4b972dce.c10994","type":"group","z":"35b904b5.8b245c","style":{"stroke":"#2e333a","stroke-opacity":"1","fill":"#2e333a","fill-opacity":"0.75","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["b9d9cfe6.6eb39","731bd44c.60c9dc","d778e394.3896a","d1f6067b.772688","34bc920a.c7f68e","42ddfd40.133964"],"x":54,"y":19,"w":1022,"h":302},{"id":"eb9ee29a.0dc7e","type":"group","z":"a9487bf5.e08638","style":{"stroke":"#2e333a","stroke-opacity":"1","fill":"#2e333a","fill-opacity":"0.75","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["57fcd2a1.ac658c","28524b7a.025194","c31cea12.a3a768","a88096f6.665aa8","26406401.41efac","640c2da7.bc33d4","f9553db5.bb243","aae1f3d0.5c0ce","4e2c01ed.f4b3c"],"x":14,"y":39,"w":1392,"h":222},{"id":"6a75dcf8.9f24d4","type":"group","z":"a9487bf5.e08638","style":{"stroke":"#2e333a","stroke-opacity":"1","fill":"#2e333a","fill-opacity":"0.75","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["89f91f22.7cc16","695d391c.e8cfd8","5b5e8440.8dab0c","e842917.2bd637","df04dbb4.da6a78","51712274.37c81c","47a99403.948ffc","e1452a17.1b6f98","4ff0bd98.0ab714","cc6e12ee.cc363","50557dc9.326394","f6cc0d49.cbbe2"],"x":14,"y":899,"w":1832,"h":482},{"id":"745d8372.51574c","type":"group","z":"9744d121.b32ac","style":{"stroke":"#2e333a","stroke-opacity":"1","fill":"#2e333a","fill-opacity":"0.75","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["61381e98.465fe","f17391c8.3a997","aacf2e75.5f033","20e838d.afe26c8","64828de9.3591b4","d5065bd3.8a9da8","98a7c0c2.dfdab"],"x":94,"y":359,"w":772,"h":342},{"id":"ae72a8c.f088a58","type":"group","z":"65592cad.294c14","g":"68954508.cf8dec","style":{"stroke":"#2e333a","stroke-opacity":"1","fill":"#2e333a","fill-opacity":"0.75","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["ab7a0072.588c","2bd1e6a.796261a","df1da2b8.65b49","67f137ca.db5d38","ba62fadc.c95b48","15ba5370.30ff0d","272ca112.c191ee","c17133e8.0e408"],"x":1174,"y":79,"w":312,"h":382},{"id":"cea90242.7aba2","type":"group","z":"3a76cae2.0155c6","g":"643f819e.4195b","style":{"stroke":"#2e333a","stroke-opacity":"1","fill":"#2e333a","fill-opacity":"0.75","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["3725024b.8f106e","44a5877b.0f51e8","c8419577.ba1188","57b0e7b7.51b708","cf1530a1.f905e","dfd51e8f.0136d","e72853ef.e9c2d","688ea2a1.7f585c"],"x":1334,"y":-1,"w":312,"h":382},{"id":"f44b46b3.199668","type":"group","z":"a9487bf5.e08638","style":{"stroke":"#2e333a","stroke-opacity":"1","fill":"#2e333a","fill-opacity":"0.75","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["6f2ce74e.4f51c8","d444ea9e.71c8a8","7ea6114b.015af","7b9acc6b.360c24","b0221480.cee808","353534d3.6386fc","25a079d2.08ba16","2a5108b6.1bb398","5a05b70f.9cf098","e6f83f.8ccda7c","70ca707.bed009"],"x":1434,"y":39,"w":872,"h":622},{"id":"a1047e7f.e8257","type":"server","name":"Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"b97ab1a6.4538d","type":"deconz-server","name":"DeCONZ HA","ip":"192.168.1.123","port":"40850","apikey":"D1A7FF949D","ws_port":"8081","secure":false,"polling":"15"},{"id":"83502b1c.05ad98","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"8e2273cf.db33f","type":"server","name":"Home Assistant Sers","legacy":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true},{"id":"c1a22aa9.95b278","type":"server-state-changed","z":"69d979d9.bffe18","g":"785ccae8.5ef7b4","name":"Minecraft Server Offline","server":"a1047e7f.e8257","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.minecraft_server_status","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"5","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":140,"y":80,"wires":[["3be90a6a.963f36","8fc84cbb.c167a"],[]],"icon":"font-awesome/fa-server"},{"id":"3be90a6a.963f36","type":"api-call-service","z":"69d979d9.bffe18","g":"785ccae8.5ef7b4","name":"Notify iPhone: OFFLINE","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_davids_iphone","entityId":"","data":"{\"title\":\"Minecraft Server is OFFLINE\",\"message\":\"Your Minecraft Server is offline for more then 5 minutes\",\"data\":{\"subtitle\":\"You should probably restart ist\"}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":410,"y":80,"wires":[[]]},{"id":"e989b827.9c41d8","type":"api-call-service","z":"69d979d9.bffe18","g":"785ccae8.5ef7b4","name":"Notify iPhone: ONLINE","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_davids_iphone","entityId":"","data":"{\"title\":\"Minecraft Server is back ONLINE\",\"message\":\"Your Minecraft Server is back online\",\"data\":{\"subtitle\":\"YAY!\"}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":660,"y":120,"wires":[[]]},{"id":"8fc84cbb.c167a","type":"ha-wait-until","z":"69d979d9.bffe18","g":"785ccae8.5ef7b4","name":"wait until on again","server":"a1047e7f.e8257","outputs":1,"entityId":"binary_sensor.minecraft_server_status","entityIdFilterType":"exact","property":"state","comparator":"is","value":"on","valueType":"str","timeout":0,"timeoutType":"num","timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":390,"y":140,"wires":[["e989b827.9c41d8"]]},{"id":"9deef339.91463","type":"api-render-template","z":"69d979d9.bffe18","g":"785ccae8.5ef7b4","name":"Player Name","server":"a1047e7f.e8257","template":"{{ state_attr('sensor.minecraft_server_players_online', 'players_list') }}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":370,"y":200,"wires":[["ae8a3985.078c48"]]},{"id":"ae8a3985.078c48","type":"api-call-service","z":"69d979d9.bffe18","g":"785ccae8.5ef7b4","name":"Notify iPhone: Player Online","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_davids_iphone","entityId":"","data":"{\"title\":\"Player joined\",\"message\":\"joined your Server\",\"data\":{\"subtitle\":\"{{payload}}\"}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":680,"y":200,"wires":[[]],"info":"There are for some reason formatting issues, but it gets the job done"},{"id":"a5cb967d.1653b8","type":"server-state-changed","z":"69d979d9.bffe18","g":"785ccae8.5ef7b4","name":"Minecraft Player joined","server":"a1047e7f.e8257","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.minecraft_server_players_online","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"0","halt_if_type":"num","halt_if_compare":"gt","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":140,"y":140,"wires":[["9deef339.91463"],[]]},{"id":"d90f49bc.213048","type":"server-state-changed","z":"69d979d9.bffe18","g":"cffacd60.c6441","name":"NAS Security Status","server":"a1047e7f.e8257","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.delevennas_security_status","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":130,"y":320,"wires":[["523fb1e3.cd41b"],[]]},{"id":"523fb1e3.cd41b","type":"api-call-service","z":"69d979d9.bffe18","g":"cffacd60.c6441","name":"iPhone Notification","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_davids_iphone","entityId":"","data":"{\"title\":\"NAS ALARM\",\"message\":\"DelevenNAS Security status has given a ALARM, check it\",\"data\":{\"subtitle\":\"Synology DS918+\"}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":350,"y":320,"wires":[[]]},{"id":"6ea73a63.5fb5b4","type":"server-state-changed","z":"69d979d9.bffe18","g":"cffacd60.c6441","name":"NAS Update available","server":"a1047e7f.e8257","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.delevennas_security_status","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":140,"y":380,"wires":[["867f958f.efd4a8"],[]]},{"id":"867f958f.efd4a8","type":"api-call-service","z":"69d979d9.bffe18","g":"cffacd60.c6441","name":"iPhone Notification","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_davids_iphone","entityId":"","data":"{\"title\":\"NAS Update available\",\"message\":\"You can now update your NAS\",\"data\":{\"subtitle\":\"Synology DS918+\"}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":350,"y":380,"wires":[[]]},{"id":"e4598e76.98ca3","type":"server-state-changed","z":"69d979d9.bffe18","g":"cffacd60.c6441","name":"NAS CPU Warning","server":"a1047e7f.e8257","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.delevennas_cpu_load_total","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"85","halt_if_type":"num","halt_if_compare":"gt","outputs":2,"output_only_on_state_change":true,"for":"15","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":130,"y":440,"wires":[["496c8753.d52448"],[]]},{"id":"496c8753.d52448","type":"api-call-service","z":"69d979d9.bffe18","g":"cffacd60.c6441","name":"iPhone Notification","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_davids_iphone","entityId":"","data":"{\"title\":\"NAS CPU Warning \",\"message\":\"CPU usage is over 85% for 15min, you should stop some processes\",\"data\":{\"subtitle\":\"Synology DS918+\"}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":350,"y":440,"wires":[[]]},{"id":"5156914b.50013","type":"server-state-changed","z":"69d979d9.bffe18","g":"cffacd60.c6441","name":"NAS Disks are running warm","server":"a1047e7f.e8257","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.delevennas_volume_1_average_disk_temp","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"42","halt_if_type":"num","halt_if_compare":"gt","outputs":2,"output_only_on_state_change":true,"for":"15","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":160,"y":500,"wires":[["a5caf5db.e4dd28"],[]]},{"id":"a5caf5db.e4dd28","type":"api-call-service","z":"69d979d9.bffe18","g":"cffacd60.c6441","name":"iPhone Notification","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_davids_iphone","entityId":"","data":"{\"title\":\"NAS Disks are running warm, cool them down\",\"message\":\"Average Disk Temp ist over 42°C for 15min (Standard is 38°C)\",\"data\":{\"subtitle\":\"Synology DS918+\"}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":410,"y":500,"wires":[[]]},{"id":"e2dcf055.0c445","type":"deconz-input","z":"a9487bf5.e08638","g":"7d8f70a1.db53a","name":"IKEA on/off Switch Dave","server":"b97ab1a6.4538d","device":"5c:02:72:ff:fe:73:fb:ef-01-1000","device_name":"Daves TRÅDFRI on/off switch : ZHASwitch","topic":"","state":"0","output":"always","outputAtStartup":false,"x":150,"y":360,"wires":[["cf6ca3e6.3b8f9"],[]]},{"id":"cf6ca3e6.3b8f9","type":"switch","z":"a9487bf5.e08638","g":"7d8f70a1.db53a","name":"Small Remote Presses","property":"payload.buttonevent","propertyType":"msg","rules":[{"t":"eq","v":"1002","vt":"str"},{"t":"eq","v":"2002","vt":"str"},{"t":"eq","v":"1001","vt":"str"},{"t":"eq","v":"1003","vt":"str"},{"t":"eq","v":"2001","vt":"str"},{"t":"eq","v":"2003","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":600,"y":380,"wires":[["c2dc7da5.9f995"],["367de73a.ceecd8"],["e35593fd.78bdc"],["e35593fd.78bdc"],["ec32aaa4.8acdd8"],["ec32aaa4.8acdd8"]],"outputLabels":["I","O","I - Long","I - Long","O - Long","O - Long"],"info":"ON = I\nOFF = O\n\n1002 = short on\n2002 = short off\n\n1001 = long on, press down\n1003 = long on, release\n\n2001 = long off, press down\n2003 = long off, release"},{"id":"57fcd2a1.ac658c","type":"server-state-changed","z":"a9487bf5.e08638","g":"eb9ee29a.0dc7e","name":"Motion Detected","server":"a1047e7f.e8257","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.hue_motion_sensor_1_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":120,"y":80,"wires":[["4e2c01ed.f4b3c"],["aae1f3d0.5c0ce"]]},{"id":"28524b7a.025194","type":"api-current-state","z":"a9487bf5.e08638","g":"eb9ee29a.0dc7e","name":"Light level < 100","server":"a1047e7f.e8257","version":1,"outputs":2,"halt_if":"100","halt_if_type":"num","halt_if_compare":"lt","override_topic":false,"entity_id":"sensor.hue_motion_sensor_1_light_level","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":540,"y":80,"wires":[["a88096f6.665aa8"],["26406401.41efac"]]},{"id":"c31cea12.a3a768","type":"time-range-switch","z":"a9487bf5.e08638","g":"eb9ee29a.0dc7e","name":"During the Day","lat":"47.20514130309792","lon":"7.533084308103839","startTime":"sunrise","endTime":"sunset","startOffset":"+ 01:00","endOffset":"+ 01:00","x":820,"y":140,"wires":[["f9553db5.bb243"],["640c2da7.bc33d4"]]},{"id":"831cdb97.8757e8","type":"deconz-input","z":"587c0c33.841674","g":"326c1646.c566ca","name":"IKEA Motion Sensor Hallway (Frontdoor)","server":"b97ab1a6.4538d","device":"bc:33:ac:ff:fe:21:fb:a1-01-0006","device_name":"Hallway motion sensor : ZHAPresence","topic":"","state":"presence","output":"onchange","outputAtStartup":false,"x":200,"y":220,"wires":[["17e646c7.104739","bd7c2383.4c681"],["5e588022.6705e"]]},{"id":"e78a4837.969848","type":"deconz-input","z":"9d5403c2.94c6d","g":"b57a0740.bdffc8","name":"IKEA Motion Sensor Bathroom","server":"b97ab1a6.4538d","device":"bc:33:ac:ff:fe:25:4a:02-01-0006","device_name":"Bathroom Motion Sensor : ZHAPresence","topic":"","state":"presence","output":"always","outputAtStartup":false,"x":190,"y":300,"wires":[["d74ee5e0.bec828","b36d7f57.58eac","e7cfef14.1a073","3df5cf0c.e034d"],["50608cb1.f5d924"]]},{"id":"17e646c7.104739","type":"time-range-switch","z":"587c0c33.841674","g":"c8a666f.2f13298","name":"During the Night","lat":"47.20514130309792","lon":"7.533084308103839","startTime":"sunset","endTime":"sunrise","startOffset":"+ 01:00","endOffset":"+ 01:00","x":640,"y":120,"wires":[["518232c8.53380c"],["80feb232.0151"]]},{"id":"518232c8.53380c","type":"api-call-service","z":"587c0c33.841674","g":"c8a666f.2f13298","name":"Turn on Hallway Bulb 30%","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.hallway_bulb","data":"{\"entity_id\":\"light.hallway_bulb\",\"brightness_pct\":30,\"color_temp\":500}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1000,"y":80,"wires":[[]]},{"id":"80feb232.0151","type":"api-call-service","z":"587c0c33.841674","g":"c8a666f.2f13298","name":"Turn on Hallway Bulb 100%","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.hallway_bulb","data":"{\"entity_id\":\"light.hallway_bulb\",\"brightness_pct\":100,\"color_temp\":400}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1000,"y":140,"wires":[[]]},{"id":"d74ee5e0.bec828","type":"api-call-service","z":"9d5403c2.94c6d","g":"5234d4b9.4962ec","name":"Turn ON Bathroom main to 100%","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bathroom_main_bulb","data":"{\"entity_id\":\"light.bathroom_main_bulb\",\"brightness_pct\":100}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":560,"y":80,"wires":[[]]},{"id":"b36d7f57.58eac","type":"api-call-service","z":"9d5403c2.94c6d","g":"5234d4b9.4962ec","name":"Turn ON Bathroom mirror 1 to 100%","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bathroom_mirror_bulb_1","data":"{\"entity_id\":\"light.bathroom_mirror_bulb_1\",\"brightness_pct\":100}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":570,"y":140,"wires":[[]]},{"id":"e7cfef14.1a073","type":"api-call-service","z":"9d5403c2.94c6d","g":"5234d4b9.4962ec","name":"Turn ON Bathroom mirror 2 to 100%","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bathroom_mirror_bulb_2","data":"{\"entity_id\":\"light.bathroom_mirror_bulb_2\",\"brightness_pct\":100}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":570,"y":200,"wires":[[]]},{"id":"3df5cf0c.e034d","type":"api-call-service","z":"9d5403c2.94c6d","g":"5234d4b9.4962ec","name":"Turn ON Bathroom mirror 3 to 100%","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bathroom_mirror_bulb_3","data":"{\"entity_id\":\"light.bathroom_mirror_bulb_3\",\"brightness_pct\":100}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":570,"y":260,"wires":[[]]},{"id":"8c55fd4d.84dfe","type":"deconz-input","z":"20980397.0f518c","g":"fc00c44b.bb99c8","name":"IKEA on/off Switch Nachttisch Dave","server":"b97ab1a6.4538d","device":"5c:02:72:ff:fe:72:ce:fa-01-1000","device_name":"Dave Nachttisch : ZHASwitch","topic":"","state":"0","output":"always","outputAtStartup":false,"x":240,"y":440,"wires":[["35893efd.df4e92"],[]]},{"id":"35893efd.df4e92","type":"switch","z":"20980397.0f518c","g":"fc00c44b.bb99c8","name":"Presses","property":"payload.buttonevent","propertyType":"msg","rules":[{"t":"eq","v":"1002","vt":"str"},{"t":"eq","v":"2002","vt":"str"},{"t":"eq","v":"1001","vt":"str"},{"t":"eq","v":"1003","vt":"str"},{"t":"eq","v":"2001","vt":"str"},{"t":"eq","v":"2003","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":560,"y":460,"wires":[["97dce278.a6884","45aa624c.42c7dc","9748288a.e63af8","3b718e45.510f62","c207085.e1e91f8","8d260ef3.8c131","215c0f0.70c2ff2"],["956569c1.912e28"],["173fc978.e8d0f7","a4e99bfa.7f8748","d47db1fe.82ea8"],["a4e99bfa.7f8748","173fc978.e8d0f7","d47db1fe.82ea8"],["282324d8.bd2e6c"],["282324d8.bd2e6c"]],"outputLabels":["I","O","I - Long","I - Long","O - Long","O - Long"],"info":"ON = I\nOFF = O\n\n1002 = short on\n2002 = short off\n\n1001 = long on, press down\n1003 = long on, release\n\n2001 = long off, press down\n2003 = long off, release"},{"id":"4b02b534.6e1b5c","type":"deconz-input","z":"20980397.0f518c","g":"fc00c44b.bb99c8","name":"IKEA on/off Switch Nachttisch Delia","server":"b97ab1a6.4538d","device":"5c:02:72:ff:fe:71:52:33-01-1000","device_name":"Delia Nachgttisch : ZHASwitch","topic":"","state":"0","output":"always","outputAtStartup":false,"x":240,"y":520,"wires":[["35893efd.df4e92"],[]]},{"id":"97dce278.a6884","type":"api-call-service","z":"20980397.0f518c","g":"e271e8f2.d459c8","name":"Turn ON - Daves Nighttable Lamp 30%","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bulb_nighttable_dave","data":"{\"entity_id\":\"light.bulb_nighttable_dave\",\"brightness_pct\":30,\"color_temp\":500}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1080,"y":60,"wires":[[]]},{"id":"45aa624c.42c7dc","type":"api-call-service","z":"20980397.0f518c","g":"e271e8f2.d459c8","name":"Turn ON - Delias Nighttable Lamp 30%","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bulb_nighttable_delia","data":"{\"entity_id\":\"light.bulb_nighttable_delia\",\"brightness_pct\":30,\"color_temp\":500}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1080,"y":120,"wires":[[]]},{"id":"9748288a.e63af8","type":"api-call-service","z":"20980397.0f518c","g":"8db5acc1.23947","name":"Turn OFF - Bedroom Main Light","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.bulb_bedroom","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1050,"y":240,"wires":[[]]},{"id":"173fc978.e8d0f7","type":"api-call-service","z":"20980397.0f518c","g":"b8c7bde2.42d3e","name":"Turn ON - Daves Nighttable Lamp 100%","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bulb_nighttable_dave","data":"{\"entity_id\":\"light.bulb_nighttable_dave\",\"brightness_pct\":100,\"color_temp\":500}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1080,"y":620,"wires":[[]]},{"id":"a4e99bfa.7f8748","type":"api-call-service","z":"20980397.0f518c","g":"b8c7bde2.42d3e","name":"Turn ON - Delias Nighttable Lamp 100%","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bulb_nighttable_delia","data":"{\"entity_id\":\"light.bulb_nighttable_delia\",\"brightness_pct\":100,\"color_temp\":500}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1080,"y":680,"wires":[[]]},{"id":"d47db1fe.82ea8","type":"api-call-service","z":"20980397.0f518c","g":"b8c7bde2.42d3e","name":"Turn ON - Bedroom Main Light","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bulb_bedroom","data":"{\"entity_id\":\"light.bulb_bedroom\",\"brightness_pct\":100,\"color_temp\":400}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1050,"y":740,"wires":[[]]},{"id":"95a58520.359ce8","type":"deconz-input","z":"a9487bf5.e08638","g":"3cd37e70.949be2","name":"Media Controller","server":"b97ab1a6.4538d","device":"ec:1b:bd:ff:fe:32:47:cf-01-1000","device_name":"Volume - Play - Mute Controller : ZHASwitch","topic":"","state":0,"output":"always","outputAtStartup":false,"x":120,"y":720,"wires":[[],[]]},{"id":"c6bc561a.8719b8","type":"switch","z":"a9487bf5.e08638","g":"3cd37e70.949be2","name":"Media Control - Moves","property":"payload.buttonevent","propertyType":"msg","rules":[{"t":"eq","v":"2001","vt":"str"},{"t":"eq","v":"2003","vt":"str"},{"t":"eq","v":"3001","vt":"str"},{"t":"eq","v":"3003","vt":"str"},{"t":"eq","v":"1002","vt":"str"},{"t":"eq","v":"1004","vt":"str"},{"t":"eq","v":"1005","vt":"str"}],"checkall":"true","repair":false,"outputs":7,"x":770,"y":720,"wires":[["cd91aeff.c7dad"],[],["59f453a5.701cec"],[],["969b5532.588d48"],["799dd03d.ed404"],["de674834.ff3148"]],"outputLabels":["Turn Right","Turn Right","Turn Left","Turn Left","1x click","2x click","3x click"],"info":"ON = I\nOFF = O\n\n1002 = short on\n2002 = short off\n\n1001 = long on, press down\n1003 = long on, release\n\n2001 = long off, press down\n2003 = long off, release"},{"id":"cd91aeff.c7dad","type":"api-call-service","z":"a9487bf5.e08638","g":"3cd37e70.949be2","name":"Volume UP","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"media_player","service":"volume_up","entityId":"media_player.home_group","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1000,"y":600,"wires":[[]]},{"id":"59f453a5.701cec","type":"api-call-service","z":"a9487bf5.e08638","g":"3cd37e70.949be2","name":"Volume DOWN","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"media_player","service":"volume_down","entityId":"media_player.home_group","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1010,"y":660,"wires":[[]]},{"id":"969b5532.588d48","type":"api-call-service","z":"a9487bf5.e08638","g":"3cd37e70.949be2","name":"Play Pause","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"media_player","service":"media_play_pause","entityId":"media_player.home_group","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1000,"y":720,"wires":[[]]},{"id":"799dd03d.ed404","type":"api-call-service","z":"a9487bf5.e08638","g":"3cd37e70.949be2","name":"Next Track","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"media_player","service":"media_next_track","entityId":"media_player.home_group","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1000,"y":780,"wires":[[]]},{"id":"de674834.ff3148","type":"api-call-service","z":"a9487bf5.e08638","g":"3cd37e70.949be2","name":"Previouse Track","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"media_player","service":"media_previous_track","entityId":"media_player.home_group","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1010,"y":840,"wires":[[]]},{"id":"50557dc9.326394","type":"deconz-input","z":"a9487bf5.e08638","g":"6a75dcf8.9f24d4","name":"Remote","server":"b97ab1a6.4538d","device":"bc:33:ac:ff:fe:89:d6:39-01-1000","device_name":"Daves TRÅDFRI remote control : ZHASwitch","topic":"","state":0,"output":"always","outputAtStartup":false,"x":90,"y":1160,"wires":[["f6cc0d49.cbbe2"],[]]},{"id":"f6cc0d49.cbbe2","type":"switch","z":"a9487bf5.e08638","g":"6a75dcf8.9f24d4","name":"Remote Buttons","property":"payload.buttonevent","propertyType":"msg","rules":[{"t":"eq","v":"1002","vt":"str"},{"t":"eq","v":"2002","vt":"str"},{"t":"eq","v":"3002","vt":"str"},{"t":"eq","v":"4002","vt":"str"},{"t":"eq","v":"5002","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":520,"y":1160,"wires":[["df04dbb4.da6a78","51712274.37c81c"],["695d391c.e8cfd8"],["89f91f22.7cc16"],[],["e842917.2bd637"]],"outputLabels":["Middle Button","Up","Down","Left","Right"]},{"id":"a88096f6.665aa8","type":"api-current-state","z":"a9487bf5.e08638","g":"eb9ee29a.0dc7e","name":"Night-Time Overwrite on / off","server":"a1047e7f.e8257","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.night_time_overwrite","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":820,"y":80,"wires":[["f9553db5.bb243"],["c31cea12.a3a768"]]},{"id":"26406401.41efac","type":"link out","z":"a9487bf5.e08638","g":"eb9ee29a.0dc7e","name":"Turn OFF - Daves Room Lights","links":["1ae68d76.efb0d3","63a35f62.a275b","25794078.0284c"],"x":710,"y":220,"wires":[],"l":true},{"id":"63a35f62.a275b","type":"link in","z":"65592cad.294c14","g":"36fcd6c0.b9b10a","name":"Turn OFF - Daves Room Lights","links":["26406401.41efac","367de73a.ceecd8","3b718e45.510f62","53a2189d.f31848","ab7a0072.588c","e4a264ea.a20848","5a05b70f.9cf098"],"x":270,"y":180,"wires":[["739fbe47.63d3a","e7469c6.03d676","fcb1acb4.b4713","18964528.4d26cb"]],"l":true},{"id":"367de73a.ceecd8","type":"link out","z":"a9487bf5.e08638","g":"7d8f70a1.db53a","name":"Turn OFF - Daves Room Lights","links":["1ae68d76.efb0d3","63a35f62.a275b","25794078.0284c"],"x":910,"y":380,"wires":[],"l":true},{"id":"739fbe47.63d3a","type":"api-call-service","z":"65592cad.294c14","g":"36fcd6c0.b9b10a","name":"Turn OFF Daves Room Main Light","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.bulb_daves_room","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":620,"y":80,"wires":[[]]},{"id":"e7469c6.03d676","type":"api-call-service","z":"65592cad.294c14","g":"36fcd6c0.b9b10a","name":"Turn OFF Daves Room Oldschool Light","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.bulb_oldschool_daves_room","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":640,"y":140,"wires":[[]]},{"id":"923ca14a.6205c","type":"link in","z":"65592cad.294c14","g":"68954508.cf8dec","name":"TURN OFF - ALL THE LIGHTS","links":["282324d8.bd2e6c","6f71d807.8f3848","ec32aaa4.8acdd8","f4024238.324f1"],"x":980,"y":300,"wires":[["ab7a0072.588c","2bd1e6a.796261a","67f137ca.db5d38","ba62fadc.c95b48","15ba5370.30ff0d","272ca112.c191ee","c17133e8.0e408"]],"l":true},{"id":"ab7a0072.588c","type":"link out","z":"65592cad.294c14","g":"ae72a8c.f088a58","name":"Turn OFF - Daves Room Lights","links":["1ae68d76.efb0d3","63a35f62.a275b","25794078.0284c"],"x":1330,"y":180,"wires":[],"l":true},{"id":"3b718e45.510f62","type":"link out","z":"20980397.0f518c","g":"8db5acc1.23947","name":"Turn OFF - Daves Room Lights","links":["1ae68d76.efb0d3","63a35f62.a275b","25794078.0284c"],"x":1050,"y":300,"wires":[],"l":true},{"id":"55411ab0.53dee4","type":"link in","z":"65592cad.294c14","g":"663394e6.918fcc","name":"Turn OFF - Dining Room Light","links":["2bd1e6a.796261a","c207085.e1e91f8","e6d28086.6540f","23af6345.9ef9ec","19bb1469.f96e0c","ab274a54.fb5818","864aaca8.f81c4","53a2189d.f31848"],"x":260,"y":380,"wires":[["7b67fc90.af6ee4","318a8177.81d17e"]],"l":true},{"id":"7b67fc90.af6ee4","type":"api-call-service","z":"65592cad.294c14","g":"663394e6.918fcc","name":"Turn OFF Dining Room Main Light","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.bulb_dining_room","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":580,"y":360,"wires":[[]]},{"id":"318a8177.81d17e","type":"api-call-service","z":"65592cad.294c14","g":"663394e6.918fcc","name":"Turn OFF Dining Room Plug","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.smart_plug_dining_room","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":560,"y":420,"wires":[[]]},{"id":"2bd1e6a.796261a","type":"link out","z":"65592cad.294c14","g":"ae72a8c.f088a58","name":"Turn OFF - Dining Room Lights","links":["55411ab0.53dee4","26ff4a1.2d14ab6"],"x":1330,"y":220,"wires":[],"l":true},{"id":"df1da2b8.65b49","type":"comment","z":"65592cad.294c14","g":"ae72a8c.f088a58","name":"LIGHTS - OFF","info":"","x":1310,"y":120,"wires":[]},{"id":"fbf0121f.8837c","type":"link in","z":"65592cad.294c14","g":"6ff26da8.c4cd34","name":"Turn OFF - Living Room Light","links":["67f137ca.db5d38","8d260ef3.8c131","ce67423d.f5d25","41eeaf86.ebcc7","505f1060.4a108","3559ac7a.0a8ea4","6646bd9c.92e124"],"x":260,"y":580,"wires":[["905e4e0e.9a48f","7d3c5cd2.344d34","beecb983.18e678"]],"l":true},{"id":"e5c0fa1f.f6e538","type":"link in","z":"65592cad.294c14","g":"3c41326a.22866e","name":"Turn OFF - Delias Room Light","links":["ba62fadc.c95b48","215c0f0.70c2ff2","9c0328c8.cb3e98","ef0b921f.75301","367de200.e14cce","11b01ade.78df75","113438b5.f3bbb7","53a2189d.f31848"],"x":260,"y":740,"wires":[["ba59c60d.437788"]],"l":true},{"id":"c0d52063.68b27","type":"link in","z":"65592cad.294c14","g":"7323c361.74746c","name":"Turn OFF - Hallway Light","links":["15ba5370.30ff0d","9cefa028.1b63a","2b8d62f4.a6b4be","c176acdf.66156","f2e1b645.5d6178","c291bf49.a46a5","9222216e.04e95","ccf73977.3e1888","53a2189d.f31848"],"x":250,"y":860,"wires":[["c3d7f810.331828","18e2add3.5a28f2"]],"l":true},{"id":"b3363d19.398eb","type":"link in","z":"65592cad.294c14","g":"10bfa400.196ecc","name":"Turn OFF - Bathroom Light","links":["272ca112.c191ee","e919baef.de1138","518901cc.bc977","3827142d.7c54ac","d4cdc840.6f10c8","7abe740a.3ca97c","34b7ab6f.16eab4","ddb9bc01.17ec6","e72853ef.e9c2d","53a2189d.f31848"],"x":250,"y":1100,"wires":[["46144f05.bd843","82898d93.0650b","aa71552d.f7e908","907f6152.e93a2"]],"l":true},{"id":"18702b91.204074","type":"link in","z":"65592cad.294c14","g":"4e90a66d.6aece8","name":"Turn OFF - Bedrooom Light","links":["c17133e8.0e408","4a04f9a5.1576d8","956569c1.912e28","d4aa855d.890c58","c8b60864.06e258","7c8f90d6.2b49f","74fc69a5.5e6558","a2261767.2f0ee8","695369dc.d2b328","53a2189d.f31848"],"x":260,"y":1340,"wires":[["b797fcbb.5faa9","8d8200f2.2cbde","5ef394a3.6a4ebc"]],"l":true},{"id":"67f137ca.db5d38","type":"link out","z":"65592cad.294c14","g":"ae72a8c.f088a58","name":"Turn OFF - Living Room Lights","links":["fbf0121f.8837c","fa0036b9.9ce228"],"x":1330,"y":260,"wires":[],"l":true},{"id":"ba62fadc.c95b48","type":"link out","z":"65592cad.294c14","g":"ae72a8c.f088a58","name":"Turn OFF - Delias Room Lights","links":["e5c0fa1f.f6e538","9a21003.18cc1"],"x":1330,"y":300,"wires":[],"l":true},{"id":"15ba5370.30ff0d","type":"link out","z":"65592cad.294c14","g":"ae72a8c.f088a58","name":"Turn OFF - Hallway Lights","links":["c0d52063.68b27","995ef589.79d248"],"x":1310,"y":340,"wires":[],"l":true},{"id":"272ca112.c191ee","type":"link out","z":"65592cad.294c14","g":"ae72a8c.f088a58","name":"Turn OFF - Bathroom Lights","links":["b3363d19.398eb","816a2930.0154e8"],"x":1320,"y":380,"wires":[],"l":true},{"id":"c17133e8.0e408","type":"link out","z":"65592cad.294c14","g":"ae72a8c.f088a58","name":"Turn OFF - Bedroom Lights","links":["18702b91.204074","9b9ae70e.c57c68","f1412356.03af2"],"x":1320,"y":420,"wires":[],"l":true},{"id":"905e4e0e.9a48f","type":"api-call-service","z":"65592cad.294c14","g":"6ff26da8.c4cd34","name":"Turn OFF Living Room Light","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.bulb_living_room","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":560,"y":520,"wires":[[]]},{"id":"7d3c5cd2.344d34","type":"api-call-service","z":"65592cad.294c14","g":"6ff26da8.c4cd34","name":"Turn OFF Living Room Plug","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.living_room_smartplug","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":560,"y":580,"wires":[[]]},{"id":"282324d8.bd2e6c","type":"link out","z":"20980397.0f518c","g":"e17e5130.47e05","name":"TURN OFF EVERYTHING","links":["4d38d8a.205c728","923ca14a.6205c"],"x":1030,"y":860,"wires":[],"l":true},{"id":"c207085.e1e91f8","type":"link out","z":"20980397.0f518c","g":"8db5acc1.23947","name":"Turn OFF - Dining Room Lights","links":["55411ab0.53dee4","26ff4a1.2d14ab6"],"x":1050,"y":340,"wires":[],"l":true},{"id":"8d260ef3.8c131","type":"link out","z":"20980397.0f518c","g":"8db5acc1.23947","name":"Turn OFF - Living Room Lights","links":["fbf0121f.8837c","fa0036b9.9ce228"],"x":1050,"y":380,"wires":[],"l":true},{"id":"215c0f0.70c2ff2","type":"link out","z":"20980397.0f518c","g":"8db5acc1.23947","name":"Turn OFF - Delias Room Lights","links":["e5c0fa1f.f6e538","9a21003.18cc1"],"x":1050,"y":420,"wires":[],"l":true},{"id":"956569c1.912e28","type":"link out","z":"20980397.0f518c","g":"631cbcec.3d41c4","name":"Turn OFF - Bedroom Lights","links":["18702b91.204074","9b9ae70e.c57c68","f1412356.03af2"],"x":1040,"y":520,"wires":[],"l":true},{"id":"f2e1b645.5d6178","type":"link out","z":"587c0c33.841674","g":"a8fdc134.71c3","name":"Turn OFF - Hallway Lights","links":["995ef589.79d248","c0d52063.68b27"],"x":670,"y":420,"wires":[],"l":true},{"id":"7abe740a.3ca97c","type":"link out","z":"9d5403c2.94c6d","g":"8d1b11c0.4ac02","name":"Turn OFF - Bathroom Lights","links":["b3363d19.398eb","816a2930.0154e8"],"x":540,"y":440,"wires":[],"l":true},{"id":"ec32aaa4.8acdd8","type":"link out","z":"a9487bf5.e08638","g":"7d8f70a1.db53a","name":"TURN OFF EVERYTHING","links":["4d38d8a.205c728","923ca14a.6205c"],"x":890,"y":500,"wires":[],"l":true},{"id":"864aaca8.f81c4","type":"link out","z":"53759d33.dbf614","g":"6b6e5eae.10d7","name":"Turn OFF - Dining Room Lights","links":["55411ab0.53dee4"],"x":430,"y":160,"wires":[],"l":true},{"id":"6646bd9c.92e124","type":"link out","z":"53759d33.dbf614","g":"6a400bbf.be37f4","name":"Turn OFF - Living Room Lights","links":["fbf0121f.8837c"],"x":430,"y":300,"wires":[],"l":true},{"id":"113438b5.f3bbb7","type":"link out","z":"53759d33.dbf614","g":"5d80d086.7b6ef","name":"Turn OFF - Delias Room Lights","links":["e5c0fa1f.f6e538"],"x":430,"y":440,"wires":[],"l":true},{"id":"ccf73977.3e1888","type":"link out","z":"53759d33.dbf614","g":"e155488a.ad6948","name":"Turn OFF - Hallway Lights","links":["c0d52063.68b27","995ef589.79d248"],"x":410,"y":580,"wires":[],"l":true},{"id":"ddb9bc01.17ec6","type":"link out","z":"53759d33.dbf614","g":"31c43154.df74ee","name":"Turn OFF - Bathroom Lights","links":["b3363d19.398eb"],"x":420,"y":720,"wires":[],"l":true},{"id":"a2261767.2f0ee8","type":"link out","z":"53759d33.dbf614","g":"63c787d4.c0e648","name":"Turn OFF - Bedroom Lights","links":["18702b91.204074","f1412356.03af2"],"x":420,"y":860,"wires":[],"l":true},{"id":"ba59c60d.437788","type":"api-call-service","z":"65592cad.294c14","g":"3c41326a.22866e","name":"Turn OFF Delias Room Light","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.delias_room_bulb","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":560,"y":740,"wires":[[]]},{"id":"c3d7f810.331828","type":"api-call-service","z":"65592cad.294c14","g":"7323c361.74746c","name":"Turn OFF Hallway Light","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.hallway_bulb","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":550,"y":840,"wires":[[]]},{"id":"18e2add3.5a28f2","type":"api-call-service","z":"65592cad.294c14","g":"7323c361.74746c","name":"Turn OFF Hallway Smartplug","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.smart_plug_hallway","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":560,"y":900,"wires":[[]]},{"id":"46144f05.bd843","type":"api-call-service","z":"65592cad.294c14","g":"10bfa400.196ecc","name":"Turn OFF Bathroom Main Light","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.bathroom_main_bulb","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":550,"y":1000,"wires":[[]]},{"id":"82898d93.0650b","type":"api-call-service","z":"65592cad.294c14","g":"10bfa400.196ecc","name":"Turn OFF Bathroom Mirror Light 1","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.bathroom_mirror_bulb_1","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":560,"y":1060,"wires":[[]]},{"id":"aa71552d.f7e908","type":"api-call-service","z":"65592cad.294c14","g":"10bfa400.196ecc","name":"Turn OFF Bathroom Mirror Light 2","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.bathroom_mirror_bulb_2","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":560,"y":1120,"wires":[[]]},{"id":"907f6152.e93a2","type":"api-call-service","z":"65592cad.294c14","g":"10bfa400.196ecc","name":"Turn OFF Bathroom Mirror Light 3","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.bathroom_mirror_bulb_3","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":560,"y":1180,"wires":[[]]},{"id":"b797fcbb.5faa9","type":"api-call-service","z":"65592cad.294c14","g":"4e90a66d.6aece8","name":"Turn OFF Bedroom Nighttable Dave","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.bulb_nighttable_dave","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":570,"y":1280,"wires":[[]]},{"id":"8d8200f2.2cbde","type":"api-call-service","z":"65592cad.294c14","g":"4e90a66d.6aece8","name":"Turn OFF Bedroom Nighttable Delia","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.bulb_nighttable_delia","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":560,"y":1400,"wires":[[]]},{"id":"5ef394a3.6a4ebc","type":"api-call-service","z":"65592cad.294c14","g":"4e90a66d.6aece8","name":"Turn OFF Bedroom Main Light","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.bulb_bedroom","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":550,"y":1340,"wires":[[]]},{"id":"c2dc7da5.9f995","type":"link out","z":"a9487bf5.e08638","g":"7d8f70a1.db53a","name":"Turn ON - Daves Room Lights Ambience","links":["6bf1fb61.eab114","cc45fab3.10eb88","61381e98.465fe"],"x":940,"y":320,"wires":[],"l":true},{"id":"640c2da7.bc33d4","type":"link out","z":"a9487bf5.e08638","g":"eb9ee29a.0dc7e","name":"Turn ON - Daves Room Lights Ambience","links":["6bf1fb61.eab114","cc45fab3.10eb88","61381e98.465fe"],"x":1220,"y":120,"wires":[],"l":true},{"id":"f9553db5.bb243","type":"link out","z":"a9487bf5.e08638","g":"eb9ee29a.0dc7e","name":"Turn ON - Daves Room Lights 100%","links":["d9e5faea.8ca308","5165bbc3.9f4bb4","a1f33bd7.79fc78","f990ba27.0b32c8"],"x":1210,"y":80,"wires":[],"l":true},{"id":"e35593fd.78bdc","type":"link out","z":"a9487bf5.e08638","g":"7d8f70a1.db53a","name":"Turn ON - Daves Room Lights 100%","links":["d9e5faea.8ca308","5165bbc3.9f4bb4","a1f33bd7.79fc78","f990ba27.0b32c8"],"x":930,"y":440,"wires":[],"l":true},{"id":"aae1f3d0.5c0ce","type":"trigger","z":"a9487bf5.e08638","g":"eb9ee29a.0dc7e","name":"15min extendable Timer","op1":"","op2":"0","op1type":"nul","op2type":"str","duration":"15","extend":true,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":350,"y":220,"wires":[["26406401.41efac"]]},{"id":"50608cb1.f5d924","type":"trigger","z":"9d5403c2.94c6d","g":"8d1b11c0.4ac02","name":"10min extendable Timer","op1":"","op2":"0","op1type":"nul","op2type":"str","duration":"10","extend":true,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":530,"y":400,"wires":[["7abe740a.3ca97c"]]},{"id":"5e588022.6705e","type":"trigger","z":"587c0c33.841674","g":"a8fdc134.71c3","name":"5min extendable Timer","op1":"","op2":"0","op1type":"nul","op2type":"str","duration":"5","extend":true,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":660,"y":380,"wires":[["f2e1b645.5d6178"]]},{"id":"aeccba19.00f008","type":"api-call-service","z":"3a76cae2.0155c6","g":"562d6b9.e969794","name":"Turn ON Daves Room Main Light 100%","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bulb_daves_room","data":"{\"entity_id\":\"light.bulb_daves_room\",\"brightness_pct\":100,\"color_temp\":400}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":700,"y":60,"wires":[[]]},{"id":"1ed1016b.df9f5f","type":"api-call-service","z":"3a76cae2.0155c6","g":"562d6b9.e969794","name":"Turn ON Daves Room Oldschool Light 100%","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bulb_oldschool_daves_room","data":"{\"entity_id\":\"light.bulb_oldschool_daves_room\",\"brightness_pct\":100,\"color_temp\":400}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":710,"y":120,"wires":[[]]},{"id":"5165bbc3.9f4bb4","type":"link in","z":"3a76cae2.0155c6","g":"562d6b9.e969794","name":"Turn ON - Daves Room Lights 100%","links":["4c4d2d4.b47c7d4","e35593fd.78bdc","f9553db5.bb243","3725024b.8f106e","ace04a72.581d48","df04dbb4.da6a78","70ca707.bed009"],"x":340,"y":140,"wires":[["aeccba19.00f008","1ed1016b.df9f5f","e14f42d8.9203","b8278717.99c7f8"]],"l":true},{"id":"4321e5b9.5e062c","type":"link in","z":"3a76cae2.0155c6","g":"d748fba9.7d2418","name":"Turn ON - Hallway Light","links":["dfd51e8f.0136d","a065e23e.76daa"],"x":300,"y":880,"wires":[["27230767.6d8398","45c42c1.b8c7dd4"]],"l":true},{"id":"27230767.6d8398","type":"api-call-service","z":"3a76cae2.0155c6","g":"d748fba9.7d2418","name":"Turn ON Hallway Light 100%","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.hallway_bulb","data":"{\"entity_id\":\"light.hallway_bulb\",\"brightness_pct\":100,\"color_temp\":400}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":620,"y":880,"wires":[[]]},{"id":"45c42c1.b8c7dd4","type":"api-call-service","z":"3a76cae2.0155c6","g":"d748fba9.7d2418","name":"Turn ON Hallway Smartplug","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.smart_plug_hallway","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":620,"y":940,"wires":[[]]},{"id":"7e9d1b94.7516b4","type":"link in","z":"3a76cae2.0155c6","g":"b338db20.dbe598","name":"Turn ON - Dining Room Light","links":["44a5877b.0f51e8","2058d59c.8d9bca"],"x":320,"y":400,"wires":[["e03ecc5b.56957","cf6b5aa3.c218a8"]],"l":true},{"id":"e03ecc5b.56957","type":"api-call-service","z":"3a76cae2.0155c6","g":"b338db20.dbe598","name":"Turn ON Dining Room Main Light 100%","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bulb_dining_room","data":"{\"entity_id\":\"light.bulb_dining_room\",\"brightness_pct\":100,\"color_temp\":400}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":660,"y":400,"wires":[[]]},{"id":"cf6b5aa3.c218a8","type":"api-call-service","z":"3a76cae2.0155c6","g":"b338db20.dbe598","name":"Turn ON Dining Room Plug","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.smart_plug_dining_room","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":620,"y":460,"wires":[[]]},{"id":"de7b9e01.c3677","type":"link in","z":"3a76cae2.0155c6","g":"11c05a7e.19f5d6","name":"Turn ON - Delias Room Light","links":["cf1530a1.f905e","65588853.f40788"],"x":320,"y":780,"wires":[["75495f76.70b06"]],"l":true},{"id":"75495f76.70b06","type":"api-call-service","z":"3a76cae2.0155c6","g":"11c05a7e.19f5d6","name":"Turn ON Delias Room Light 100%","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.delias_room_bulb","data":"{\"entity_id\":\"light.delias_room_bulb\",\"brightness_pct\":100,\"color_temp\":400}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":640,"y":780,"wires":[[]]},{"id":"73a90340.409f5c","type":"link in","z":"3a76cae2.0155c6","g":"993a0e64.77fb1","name":"Turn ON - Living Room Light","links":["57b0e7b7.51b708","cbcb1a9c.1b6028"],"x":320,"y":560,"wires":[["529ea570.c91c4c","ab826b15.c03938","ef24a822.468ed8"]],"l":true},{"id":"529ea570.c91c4c","type":"api-call-service","z":"3a76cae2.0155c6","g":"993a0e64.77fb1","name":"Turn ON Living Room Light 100%","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bulb_living_room","data":"{\"entity_id\":\"light.bulb_living_room\",\"brightness_pct\":100,\"color_temp\":400}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":640,"y":560,"wires":[[]]},{"id":"ab826b15.c03938","type":"api-call-service","z":"3a76cae2.0155c6","g":"993a0e64.77fb1","name":"Turn ON Living Room Plug","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.living_room_smartplug","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":620,"y":620,"wires":[[]]},{"id":"823feadb.86b308","type":"link in","z":"3a76cae2.0155c6","g":"44398f7b.0641e","name":"Turn ON - Bedrooom Light","links":["688ea2a1.7f585c","694ddf88.90022","4550afc6.c8522"],"x":310,"y":1380,"wires":[["12a15faa.3c10f","ed6438fc.082748","2cf1e1a7.3d006e"]],"l":true},{"id":"12a15faa.3c10f","type":"api-call-service","z":"3a76cae2.0155c6","g":"44398f7b.0641e","name":"Turn ON Bedroom Nighttable Dave 100%","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bulb_nighttable_dave","data":"{\"entity_id\":\"light.bulb_nighttable_dave\",\"brightness_pct\":100,\"color_temp\":400}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":640,"y":1320,"wires":[[]]},{"id":"ed6438fc.082748","type":"api-call-service","z":"3a76cae2.0155c6","g":"44398f7b.0641e","name":"Turn ON Bedroom Nighttable Delia 100%","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bulb_nighttable_delia","data":"{\"entity_id\":\"light.bulb_nighttable_delia\",\"brightness_pct\":100,\"color_temp\":400}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":640,"y":1440,"wires":[[]]},{"id":"2cf1e1a7.3d006e","type":"api-call-service","z":"3a76cae2.0155c6","g":"44398f7b.0641e","name":"Turn ON Bedroom Main Light 100%","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bulb_bedroom","data":"{\"entity_id\":\"light.bulb_bedroom\",\"brightness_pct\":100,\"color_temp\":400}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":630,"y":1380,"wires":[[]]},{"id":"c45e99b.9727b68","type":"link in","z":"3a76cae2.0155c6","g":"ede5de58.f2e9a","name":"Turn ON - Bathroom Light","links":["e72853ef.e9c2d","f0398bd3.3eabf8"],"x":310,"y":1140,"wires":[["5668af70.3b684","c1b95d37.66b42","da292c9c.1701","5bdaee81.394ab"]],"l":true},{"id":"5668af70.3b684","type":"api-call-service","z":"3a76cae2.0155c6","g":"ede5de58.f2e9a","name":"Turn ON Bathroom Main Light 100%","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bathroom_main_bulb","data":"{\"entity_id\":\"light.bathroom_main_bulb\",\"brightness_pct\":100,\"color_temp\":400}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":630,"y":1040,"wires":[[]]},{"id":"c1b95d37.66b42","type":"api-call-service","z":"3a76cae2.0155c6","g":"ede5de58.f2e9a","name":"Turn ON Bathroom Mirror Light 1 100%","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bathroom_mirror_bulb_1","data":"{\"entity_id\":\"light.bathroom_mirror_bulb_1\",\"brightness_pct\":100,\"color_temp\":400}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":640,"y":1100,"wires":[[]]},{"id":"da292c9c.1701","type":"api-call-service","z":"3a76cae2.0155c6","g":"ede5de58.f2e9a","name":"Turn ON Bathroom Mirror Light 2 100%","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bathroom_mirror_bulb_2","data":"{\"entity_id\":\"light.bathroom_mirror_bulb_2\",\"brightness_pct\":100,\"color_temp\":400}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":640,"y":1160,"wires":[[]]},{"id":"5bdaee81.394ab","type":"api-call-service","z":"3a76cae2.0155c6","g":"ede5de58.f2e9a","name":"Turn ON Bathroom Mirror Light 3 100%","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bathroom_mirror_bulb_3","data":"{\"entity_id\":\"light.bathroom_mirror_bulb_3\",\"brightness_pct\":100,\"color_temp\":400}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":640,"y":1220,"wires":[[]]},{"id":"5b3474a2.1c321c","type":"api-call-service","z":"3a76cae2.0155c6","g":"e49f108d.06bfa","name":"Turn ON - Oldschoold bulb Daves Room 1%","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bulb_oldschool_daves_room","data":"{\"entity_id\":\"light.bulb_oldschool_daves_room\",\"brightness_pct\":1}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1590,"y":460,"wires":[[]]},{"id":"d11fd2dd.98b29","type":"link in","z":"3a76cae2.0155c6","g":"e49f108d.06bfa","name":"Turn ON - Oldschoold bulb Daves Room 1%","links":["9216a9f4.0f4d58"],"x":1210,"y":460,"wires":[["5b3474a2.1c321c"]],"l":true},{"id":"2dfd7c45.074664","type":"link in","z":"3a76cae2.0155c6","g":"643f819e.4195b","name":"Turn ON - ALL THE LIGHTS","links":["bcd06622.61aa98"],"x":1160,"y":220,"wires":[["3725024b.8f106e","44a5877b.0f51e8","57b0e7b7.51b708","cf1530a1.f905e","dfd51e8f.0136d","e72853ef.e9c2d","688ea2a1.7f585c"]],"l":true},{"id":"3725024b.8f106e","type":"link out","z":"3a76cae2.0155c6","g":"cea90242.7aba2","name":"Turn ON - Daves Room Lights","links":["5165bbc3.9f4bb4","f990ba27.0b32c8"],"x":1490,"y":100,"wires":[],"l":true},{"id":"44a5877b.0f51e8","type":"link out","z":"3a76cae2.0155c6","g":"cea90242.7aba2","name":"Turn ON - Dining Room Lights","links":["7e9d1b94.7516b4"],"x":1490,"y":140,"wires":[],"l":true},{"id":"c8419577.ba1188","type":"comment","z":"3a76cae2.0155c6","g":"cea90242.7aba2","name":"LIGHTS - ON","info":"","x":1470,"y":40,"wires":[]},{"id":"57b0e7b7.51b708","type":"link out","z":"3a76cae2.0155c6","g":"cea90242.7aba2","name":"Turn ON - Living Room Lights","links":["73a90340.409f5c"],"x":1490,"y":180,"wires":[],"l":true},{"id":"cf1530a1.f905e","type":"link out","z":"3a76cae2.0155c6","g":"cea90242.7aba2","name":"Turn ON - Delias Room Lights","links":["de7b9e01.c3677"],"x":1490,"y":220,"wires":[],"l":true},{"id":"dfd51e8f.0136d","type":"link out","z":"3a76cae2.0155c6","g":"cea90242.7aba2","name":"Turn ON- Hallway Lights","links":["4321e5b9.5e062c"],"x":1470,"y":260,"wires":[],"l":true},{"id":"e72853ef.e9c2d","type":"link out","z":"3a76cae2.0155c6","g":"cea90242.7aba2","name":"Turn ON - Bathroom Lights","links":["b3363d19.398eb","c45e99b.9727b68"],"x":1480,"y":300,"wires":[],"l":true},{"id":"688ea2a1.7f585c","type":"link out","z":"3a76cae2.0155c6","g":"cea90242.7aba2","name":"Turn ON - Bedroom Lights","links":["823feadb.86b308"],"x":1480,"y":340,"wires":[],"l":true},{"id":"cab98441.d10538","type":"server-state-changed","z":"53759d33.dbf614","g":"6b6e5eae.10d7","name":"Dining Room Lights","server":"a1047e7f.e8257","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.lightgroup_dining_room","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":150,"y":140,"wires":[["2058d59c.8d9bca"],["864aaca8.f81c4"]]},{"id":"2058d59c.8d9bca","type":"link out","z":"53759d33.dbf614","g":"6b6e5eae.10d7","name":"Turn OFF - ON Dining Room Lights","links":["7e9d1b94.7516b4"],"x":440,"y":120,"wires":[],"l":true},{"id":"94607dd5.eb59b","type":"server-state-changed","z":"53759d33.dbf614","g":"6a400bbf.be37f4","name":"Living Room Lights","server":"a1047e7f.e8257","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.lightgroup_living_room","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":150,"y":280,"wires":[["cbcb1a9c.1b6028"],["6646bd9c.92e124"]]},{"id":"cbcb1a9c.1b6028","type":"link out","z":"53759d33.dbf614","g":"6a400bbf.be37f4","name":"Turn ON - Living Room Lights","links":["73a90340.409f5c"],"x":430,"y":260,"wires":[],"l":true},{"id":"488b7e34.f569","type":"server-state-changed","z":"53759d33.dbf614","g":"5d80d086.7b6ef","name":"Delias Room Lights","server":"a1047e7f.e8257","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.lightgroup_delias_room","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":150,"y":420,"wires":[["65588853.f40788"],["113438b5.f3bbb7"]]},{"id":"65588853.f40788","type":"link out","z":"53759d33.dbf614","g":"5d80d086.7b6ef","name":"Turn ON - Delias Room Lights","links":["de7b9e01.c3677"],"x":430,"y":400,"wires":[],"l":true},{"id":"c470f056.1bd0c","type":"server-state-changed","z":"53759d33.dbf614","g":"e155488a.ad6948","name":"Hallway Lights","server":"a1047e7f.e8257","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.lightgroup_hallway","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":140,"y":560,"wires":[["a065e23e.76daa"],["ccf73977.3e1888"]]},{"id":"3a398c94.8d1904","type":"server-state-changed","z":"53759d33.dbf614","g":"31c43154.df74ee","name":"Bathroom Lights","server":"a1047e7f.e8257","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.lightgroup_bathroom","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":140,"y":700,"wires":[["f0398bd3.3eabf8"],["ddb9bc01.17ec6"]]},{"id":"8e5ac0e0.992b5","type":"server-state-changed","z":"53759d33.dbf614","g":"63c787d4.c0e648","name":"Bedroom Lights","server":"a1047e7f.e8257","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.lightgroup_bedroom","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":140,"y":840,"wires":[["694ddf88.90022"],["a2261767.2f0ee8"]]},{"id":"a065e23e.76daa","type":"link out","z":"53759d33.dbf614","g":"e155488a.ad6948","name":"Turn ON - Hallway Lights","links":["4321e5b9.5e062c"],"x":410,"y":540,"wires":[],"l":true},{"id":"f0398bd3.3eabf8","type":"link out","z":"53759d33.dbf614","g":"31c43154.df74ee","name":"Turn ON- Bathroom Lights","links":["c45e99b.9727b68"],"x":420,"y":680,"wires":[],"l":true},{"id":"694ddf88.90022","type":"link out","z":"53759d33.dbf614","g":"63c787d4.c0e648","name":"Turn ON - Bedroom Lights","links":["823feadb.86b308"],"x":420,"y":820,"wires":[],"l":true},{"id":"f4024238.324f1","type":"link out","z":"53759d33.dbf614","g":"f6cb70f6.3ad25","name":"Turn OFF - EVERYTHING (Lights, Media, etc)","links":["4d38d8a.205c728","923ca14a.6205c"],"x":1250,"y":100,"wires":[],"l":true},{"id":"b639778a.e6aff8","type":"server-state-changed","z":"53759d33.dbf614","g":"cd2fae45.1ca6d","name":"Are the Bathroom Lights on?","server":"a1047e7f.e8257","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.bathroom_main_bulb","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":860,"y":340,"wires":[["c4033dbf.a2c59"],["7b707949.bea498"]]},{"id":"c4033dbf.a2c59","type":"api-call-service","z":"53759d33.dbf614","g":"cd2fae45.1ca6d","name":"Toggle Switch in HA - ON","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.lightgroup_bathroom","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1190,"y":300,"wires":[[]]},{"id":"7b707949.bea498","type":"api-call-service","z":"53759d33.dbf614","g":"cd2fae45.1ca6d","name":"Toggle Switch in HA - OFF","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.lightgroup_bathroom","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1200,"y":360,"wires":[[]]},{"id":"2dc34b56.294714","type":"comment","z":"53759d33.dbf614","name":"LIGHTS","info":"","x":290,"y":40,"wires":[]},{"id":"4d38d8a.205c728","type":"link in","z":"58d52dd.969a1d4","g":"f49757ea.189b68","name":"TURN OFF - ALL THE MEDIA","links":["e313a19d.9c88b","9c7ac96.d90db38","282324d8.bd2e6c","ec32aaa4.8acdd8","fbdf1f84.1b525","f4024238.324f1","36cf8c6c.cbc964","53a2189d.f31848"],"x":420,"y":300,"wires":[["e2235788.bbb488","271ef12d.46425e","fe83d5e.dacf728","e030b1b5.c5a3","827e411e.bcce","22c6c89c.b11598","56158600.29192c","398e1c30.d2fc04"]],"l":true},{"id":"88a172da.19acb","type":"inject","z":"58d52dd.969a1d4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":380,"y":620,"wires":[["e313a19d.9c88b"]]},{"id":"e313a19d.9c88b","type":"link out","z":"58d52dd.969a1d4","name":"TURN OFF - ALL THE MEDIA","links":["4d38d8a.205c728"],"x":750,"y":620,"wires":[],"l":true},{"id":"e2235788.bbb488","type":"api-call-service","z":"58d52dd.969a1d4","g":"f49757ea.189b68","name":"Turn OFF Home Group","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"media_player","service":"turn_off","entityId":"media_player.home_group","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":720,"y":80,"wires":[[]]},{"id":"271ef12d.46425e","type":"api-call-service","z":"58d52dd.969a1d4","g":"f49757ea.189b68","name":"Turn OFF Apple TV Dave","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"media_player","service":"turn_off","entityId":"media_player.appletv_dave","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":730,"y":140,"wires":[[]]},{"id":"fe83d5e.dacf728","type":"api-call-service","z":"58d52dd.969a1d4","g":"f49757ea.189b68","name":"Turn OFF Daves Smart Clock","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"media_player","service":"turn_off","entityId":"media_player.lenovo_smartclock_essential","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":740,"y":200,"wires":[[]]},{"id":"e030b1b5.c5a3","type":"api-call-service","z":"58d52dd.969a1d4","g":"f49757ea.189b68","name":"Turn OFF Dining Room TV","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"media_player","service":"turn_off","entityId":"media_player.chromecast_dining_room","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":730,"y":260,"wires":[[]]},{"id":"827e411e.bcce","type":"api-call-service","z":"58d52dd.969a1d4","g":"f49757ea.189b68","name":"Turn OFF Kitchen Speaker","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"media_player","service":"turn_off","entityId":"media_player.kitchen_speaker","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":740,"y":320,"wires":[[]]},{"id":"22c6c89c.b11598","type":"api-call-service","z":"58d52dd.969a1d4","g":"f49757ea.189b68","name":"Turn OFF Living room Speaker","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"media_player","service":"turn_off","entityId":"media_player.living_room_speaker","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":750,"y":380,"wires":[[]]},{"id":"56158600.29192c","type":"api-call-service","z":"58d52dd.969a1d4","g":"f49757ea.189b68","name":"Turn OFF XBOX One","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"media_player","service":"turn_off","entityId":"media_player.xboxone","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":720,"y":440,"wires":[[]]},{"id":"398e1c30.d2fc04","type":"api-call-service","z":"58d52dd.969a1d4","g":"f49757ea.189b68","name":"Turn OFF Spotify","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"media_player","service":"turn_off","entityId":"media_player.spotify_david_leuenberger","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":710,"y":500,"wires":[[]]},{"id":"1ef17cd4.487b73","type":"cast-to-client","z":"58d52dd.969a1d4","name":"Play Radio Argovia on Daves Smart Clock","url":"https://icecast.argovia.ch/argovia-rc-96-aac","contentType":"audio","message":"","language":"en","ip":"192.168.1.142","port":"","volume":"30","x":680,"y":680,"wires":[[]]},{"id":"744076e5.66d4d8","type":"inject","z":"58d52dd.969a1d4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":370,"y":680,"wires":[["1ef17cd4.487b73"]]},{"id":"89f91f22.7cc16","type":"api-call-service","z":"a9487bf5.e08638","g":"6a75dcf8.9f24d4","name":"Volume Down Daves Speaker","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"media_player","service":"volume_down","entityId":"media_player.lenovo_smartclock_essential","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":830,"y":1220,"wires":[[]]},{"id":"695d391c.e8cfd8","type":"api-call-service","z":"a9487bf5.e08638","g":"6a75dcf8.9f24d4","name":"Volume Up Daves Speaker","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"media_player","service":"volume_up","entityId":"media_player.lenovo_smartclock_essential","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":820,"y":1160,"wires":[[]]},{"id":"5b5e8440.8dab0c","type":"cast-to-client","z":"a9487bf5.e08638","g":"6a75dcf8.9f24d4","name":"Greeting","url":"","contentType":"","message":"Good Morning Dave, have a wonderful and productive Day. Your Radio Starts in a couple of seconds","language":"en","ip":"192.168.1.142","port":"","volume":"10","x":800,"y":940,"wires":[[]]},{"id":"e842917.2bd637","type":"api-call-service","z":"a9487bf5.e08638","g":"6a75dcf8.9f24d4","name":"Turn OFF - Daves Speaker","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"media_player","service":"turn_off","entityId":"media_player.lenovo_smartclock_essential","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":820,"y":1340,"wires":[[]]},{"id":"df04dbb4.da6a78","type":"link out","z":"a9487bf5.e08638","g":"6a75dcf8.9f24d4","name":"Turn ON - Daves Room Lights 100%","links":["d9e5faea.8ca308","5165bbc3.9f4bb4","a1f33bd7.79fc78","f990ba27.0b32c8"],"x":850,"y":1080,"wires":[],"l":true},{"id":"51712274.37c81c","type":"time-range-switch","z":"a9487bf5.e08638","g":"6a75dcf8.9f24d4","name":"","lat":"","lon":"","startTime":"05:00","endTime":"12:00","startOffset":0,"endOffset":0,"x":790,"y":1000,"wires":[["5b5e8440.8dab0c","47a99403.948ffc"],["47a99403.948ffc"]]},{"id":"47a99403.948ffc","type":"delay","z":"a9487bf5.e08638","g":"6a75dcf8.9f24d4","name":"","pauseType":"delay","timeout":"9","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1020,"y":1000,"wires":[["e1452a17.1b6f98"]]},{"id":"e1452a17.1b6f98","type":"random","z":"a9487bf5.e08638","g":"6a75dcf8.9f24d4","name":"Randomize Station","low":"1","high":"2","inte":"true","property":"payload","x":1230,"y":1000,"wires":[["4ff0bd98.0ab714"]]},{"id":"4ff0bd98.0ab714","type":"switch","z":"a9487bf5.e08638","g":"6a75dcf8.9f24d4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1430,"y":1000,"wires":[["cc6e12ee.cc363"],["cc6e12ee.cc363"]]},{"id":"cc6e12ee.cc363","type":"cast-to-client","z":"a9487bf5.e08638","g":"6a75dcf8.9f24d4","name":"Play Radio 32 on Daves Smart Clock","url":"https://stream.radio32.ch/radio32","contentType":"audio","message":"","language":"en","ip":"192.168.1.142","port":"","volume":"10","x":1670,"y":1000,"wires":[[]]},{"id":"50e0dd78.fc0fb4","type":"deconz-input","z":"587c0c33.841674","g":"3b7aaf17.27637","name":"IKEA Motion Sensor 2 Hallway (Bedroom)","server":"b97ab1a6.4538d","device":"bc:33:ac:ff:fe:21:fd:be-01-0006","device_name":"Hallway motion sensor 2 : ZHAPresence","topic":"","state":"presence","output":"onchange","outputAtStartup":false,"x":200,"y":80,"wires":[["17e646c7.104739"],["d3e34054.21acb"]]},{"id":"49410bb6.711324","type":"server-state-changed","z":"69d979d9.bffe18","g":"9537724a.8ac33","name":"RPi Temp >60","server":"a1047e7f.e8257","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.processor_temperature","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"60","halt_if_type":"num","halt_if_compare":"gt","outputs":2,"output_only_on_state_change":true,"for":"15","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":110,"y":620,"wires":[["40da70e8.64624"],[]]},{"id":"40da70e8.64624","type":"api-call-service","z":"69d979d9.bffe18","g":"9537724a.8ac33","name":"iPhone Notification","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_davids_iphone","entityId":"","data":"{\"title\":\"Your Pi is getting to HOT\",\"message\":\"Temperature is over 60°C since 15min\",\"data\":{\"subtitle\":\"Raspberry Pi 4 8GB\"}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":410,"y":620,"wires":[[]]},{"id":"a12ecd49.10b41","type":"api-call-service","z":"69d979d9.bffe18","g":"9537724a.8ac33","name":"iPhone Notification","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_davids_iphone","entityId":"","data":"{\"title\":\"Your Pi CPU Is on its Limit\",\"message\":\"CPU LOAD over 80% since 15min\",\"data\":{\"subtitle\":\"Raspberry Pi 4 8GB\"}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":410,"y":680,"wires":[[]]},{"id":"b6ac4a01.382df8","type":"server-state-changed","z":"69d979d9.bffe18","g":"9537724a.8ac33","name":"RPi CPU > 80%","server":"a1047e7f.e8257","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.processor_use_percent","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"80","halt_if_type":"num","halt_if_compare":"gt","outputs":2,"output_only_on_state_change":true,"for":"15","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":120,"y":680,"wires":[["a12ecd49.10b41"],[]]},{"id":"b06a0ec0.039dc","type":"server-state-changed","z":"69d979d9.bffe18","g":"9537724a.8ac33","name":"RPi RAM >80%","server":"a1047e7f.e8257","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.memory_use_percent","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"80","halt_if_type":"num","halt_if_compare":"gt","outputs":2,"output_only_on_state_change":true,"for":"15","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":120,"y":740,"wires":[["45619db.3c50b64"],[]]},{"id":"45619db.3c50b64","type":"api-call-service","z":"69d979d9.bffe18","g":"9537724a.8ac33","name":"iPhone Notification","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_davids_iphone","entityId":"","data":"{\"title\":\"Your Pi RAM Is on its Limit\",\"message\":\"RAM LOAD over 80% since 15min\",\"data\":{\"subtitle\":\"Raspberry Pi 4 8GB\"}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":410,"y":740,"wires":[[]]},{"id":"c62a5693.c50208","type":"server-state-changed","z":"69d979d9.bffe18","g":"9537724a.8ac33","name":"RPi DISK VOLUME >80%","server":"a1047e7f.e8257","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.disk_use_percent_config","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"80","halt_if_type":"num","halt_if_compare":"gt","outputs":2,"output_only_on_state_change":true,"for":"15","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":150,"y":800,"wires":[["2cf1806a.bd814"],[]]},{"id":"2cf1806a.bd814","type":"api-call-service","z":"69d979d9.bffe18","g":"9537724a.8ac33","name":"iPhone Notification","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_davids_iphone","entityId":"","data":"{\"title\":\"Your Pi is running out of SPACE\",\"message\":\"DISK USED over 80%\",\"data\":{\"subtitle\":\"Raspberry Pi 4 8GB\"}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":410,"y":800,"wires":[[]]},{"id":"91f36b57.3ff418","type":"cast-to-client","z":"58d52dd.969a1d4","name":"Cast Message to Daves Smart Clock","url":"","contentType":"","message":"Good Morning Dee, your Boyfriend would like you to know, that he loves you very very very much","language":"en","ip":"192.168.1.142","port":"","volume":"60","x":1190,"y":60,"wires":[[]]},{"id":"4c5598ad.93bc78","type":"cast-to-client","z":"58d52dd.969a1d4","name":"Cast Message to Living Room","url":"","contentType":"","message":"Good Morning Dee, your Boyfriend would like you to know, that he loves you very very very much","language":"en","ip":"192.168.1.126","port":"","volume":"60","x":1170,"y":120,"wires":[[]]},{"id":"e2df5a7f.10af28","type":"cast-to-client","z":"58d52dd.969a1d4","name":"Cast Message to Dining Room","url":"","contentType":"","message":"Good Morning Dee, your Boyfriend would like you to know, that he loves you very very very much","language":"en","ip":"192.168.1.127","port":"","volume":"60","x":1170,"y":180,"wires":[[]]},{"id":"5171b58.3606d4c","type":"cast-to-client","z":"58d52dd.969a1d4","name":"Cast Message to Kitchen","url":"","contentType":"","message":"Good Morning Dee, your Boyfriend would like you to know, that he loves you very very very much","language":"en","ip":"192.168.1.128","port":"","volume":"60","x":1150,"y":240,"wires":[[]]},{"id":"bd7c2383.4c681","type":"api-call-service","z":"587c0c33.841674","g":"1358157a.9a19fb","name":"Turn on Hallway Smart plug","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.smart_plug_hallway","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":680,"y":240,"wires":[[]]},{"id":"cf054469.109e08","type":"server-state-changed","z":"53759d33.dbf614","g":"923981b6.ed639","name":"Bedroom Nighttable Lights","server":"a1047e7f.e8257","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.switch_nighttables","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":170,"y":980,"wires":[["f621e0e4.b719f"],["c56e2c40.77bbf"]]},{"id":"e1479de0.46507","type":"server-state-changed","z":"53759d33.dbf614","g":"a1c29bd4.7a25d8","name":"Are the Bedroom Nighttable Lights on?","server":"a1047e7f.e8257","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.switch_nighttables","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":890,"y":500,"wires":[["80e42225.ea63c"],["d09f1b5d.06ff08"]]},{"id":"a936f651.3f7038","type":"link in","z":"65592cad.294c14","g":"3c1ddaa1.9d4e36","name":"Turn OFF - Bedrooom Nighttable Light","links":["c56e2c40.77bbf","53a2189d.f31848"],"x":1010,"y":600,"wires":[["e6c7cee7.f2898","401cc020.9ba21"]],"l":true},{"id":"e6c7cee7.f2898","type":"api-call-service","z":"65592cad.294c14","g":"3c1ddaa1.9d4e36","name":"Turn OFF Bedroom Nighttable Dave","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.bulb_nighttable_dave","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1390,"y":560,"wires":[[]]},{"id":"401cc020.9ba21","type":"api-call-service","z":"65592cad.294c14","g":"3c1ddaa1.9d4e36","name":"Turn OFF Bedroom Nighttable Delia","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.bulb_nighttable_delia","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1380,"y":640,"wires":[[]]},{"id":"c56e2c40.77bbf","type":"link out","z":"53759d33.dbf614","g":"923981b6.ed639","name":"Turn OFF - Bedrooom Nighttable Light","links":["a936f651.3f7038"],"x":470,"y":1020,"wires":[],"l":true},{"id":"e939d2b9.ae3c4","type":"link in","z":"3a76cae2.0155c6","g":"573c1c1.e6d8de4","name":"Turn ON - Bedrooom Nighttable Light","links":["f621e0e4.b719f"],"x":1190,"y":600,"wires":[["1bdbdbf0.07a134","b2ad4680.ebbff8"]],"l":true},{"id":"1bdbdbf0.07a134","type":"api-call-service","z":"3a76cae2.0155c6","g":"573c1c1.e6d8de4","name":"Turn ON Bedroom Nighttable Dave 1%","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bulb_nighttable_dave","data":"{\"entity_id\":\"light.bulb_nighttable_dave\",\"brightness_pct\":1,\"color_temp\":400}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1550,"y":560,"wires":[[]]},{"id":"b2ad4680.ebbff8","type":"api-call-service","z":"3a76cae2.0155c6","g":"573c1c1.e6d8de4","name":"Turn ON Bedroom Nighttable Delia 1%","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bulb_nighttable_delia","data":"{\"entity_id\":\"light.bulb_nighttable_delia\",\"brightness_pct\":1,\"color_temp\":400}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1550,"y":640,"wires":[[]]},{"id":"80e42225.ea63c","type":"api-call-service","z":"53759d33.dbf614","g":"a1c29bd4.7a25d8","name":"Toggle Switch in HA - ON","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.switch_nighttables","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1210,"y":460,"wires":[[]]},{"id":"d09f1b5d.06ff08","type":"api-call-service","z":"53759d33.dbf614","g":"a1c29bd4.7a25d8","name":"Toggle Switch in HA - OFF","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.switch_nighttables","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1220,"y":540,"wires":[[]]},{"id":"f621e0e4.b719f","type":"link out","z":"53759d33.dbf614","g":"923981b6.ed639","name":"Turn ON- Bedrooom Nighttable Light","links":["e939d2b9.ae3c4"],"x":470,"y":960,"wires":[],"l":true},{"id":"54cb28b4.299098","type":"server-state-changed","z":"53759d33.dbf614","g":"85816586.bf1c08","name":"Scene - TV","server":"a1047e7f.e8257","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.scene_tv","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":800,"y":200,"wires":[["36cf8c6c.cbc964"]]},{"id":"7dd38b9d.1896c4","type":"server-state-changed","z":"53759d33.dbf614","g":"f6cb70f6.3ad25","name":"KILLSWITCH - TURN OFF EVERYTHING","server":"a1047e7f.e8257","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.killswitch_turn_off_everything","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":900,"y":100,"wires":[["f4024238.324f1"]]},{"id":"36cf8c6c.cbc964","type":"link out","z":"53759d33.dbf614","g":"85816586.bf1c08","name":"Scene - TV","links":["4d38d8a.205c728"],"x":970,"y":200,"wires":[],"l":true},{"id":"d6edc033.dabbb","type":"link in","z":"9744d121.b32ac","g":"474e24c1.0fbbac","name":"Scene - TV","links":["d778e394.3896a"],"x":200,"y":180,"wires":[["53a2189d.f31848","40514d07.21cc34","e76599aa.bf5f88","c23142a3.7a6c"]],"l":true},{"id":"53a2189d.f31848","type":"link out","z":"9744d121.b32ac","g":"474e24c1.0fbbac","name":"TURN OFF - Lights and Media","links":["18702b91.204074","4d38d8a.205c728","55411ab0.53dee4","63a35f62.a275b","a936f651.3f7038","b3363d19.398eb","c0d52063.68b27","e5c0fa1f.f6e538"],"x":490,"y":80,"wires":[],"l":true},{"id":"40514d07.21cc34","type":"api-call-service","z":"9744d121.b32ac","g":"474e24c1.0fbbac","name":"Turn ON - Backlight","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.living_room_smartplug","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":450,"y":200,"wires":[[]]},{"id":"b9d9cfe6.6eb39","type":"deconz-input","z":"35b904b5.8b245c","g":"4b972dce.c10994","name":"","server":"b97ab1a6.4538d","device":"bc:33:ac:ff:fe:13:ca:22-01-1000","device_name":"Living Room remote control : ZHASwitch","topic":"","state":0,"output":"always","outputAtStartup":false,"x":240,"y":180,"wires":[["731bd44c.60c9dc"],[]]},{"id":"731bd44c.60c9dc","type":"switch","z":"35b904b5.8b245c","g":"4b972dce.c10994","name":"Remote Buttons","property":"payload.buttonevent","propertyType":"msg","rules":[{"t":"eq","v":"1002","vt":"str"},{"t":"eq","v":"2002","vt":"str"},{"t":"eq","v":"3002","vt":"str"},{"t":"eq","v":"4002","vt":"str"},{"t":"eq","v":"5002","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":550,"y":180,"wires":[["d778e394.3896a"],["d1f6067b.772688"],["d1f6067b.772688"],["42ddfd40.133964"],["34bc920a.c7f68e"]],"outputLabels":["Middle Button","Up","Down","Left","Right"]},{"id":"d778e394.3896a","type":"link out","z":"35b904b5.8b245c","g":"4b972dce.c10994","name":"Scene - TV","links":["d6edc033.dabbb"],"x":880,"y":60,"wires":[],"l":true},{"id":"d1f6067b.772688","type":"api-call-service","z":"35b904b5.8b245c","g":"4b972dce.c10994","name":"Toggle - Living Room Light","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.bulb_living_room","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":930,"y":120,"wires":[[]]},{"id":"34bc920a.c7f68e","type":"api-call-service","z":"35b904b5.8b245c","g":"4b972dce.c10994","name":"Toggle - Living Room Plug","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.living_room_smartplug","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":930,"y":280,"wires":[[]]},{"id":"4e2c01ed.f4b3c","type":"api-current-state","z":"a9487bf5.e08638","g":"eb9ee29a.0dc7e","name":"on / off Toogle","server":"a1047e7f.e8257","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.switch_motion_sensor_dave","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":340,"y":80,"wires":[["28524b7a.025194"],[]]},{"id":"42ddfd40.133964","type":"api-call-service","z":"35b904b5.8b245c","g":"4b972dce.c10994","name":"Toggle - TV Lightstrip","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.lightstrip_tv","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":910,"y":200,"wires":[[]]},{"id":"e76599aa.bf5f88","type":"api-call-service","z":"9744d121.b32ac","g":"474e24c1.0fbbac","name":"Turn ON - TV Strip","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.lightstrip_tv","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":450,"y":260,"wires":[[]]},{"id":"beecb983.18e678","type":"api-call-service","z":"65592cad.294c14","g":"6ff26da8.c4cd34","name":"Turn OFF - TV Lightstrip","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.lightstrip_tv","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":550,"y":640,"wires":[[]]},{"id":"ef24a822.468ed8","type":"api-call-service","z":"3a76cae2.0155c6","g":"993a0e64.77fb1","name":"Turn ON- TV Lightstrip","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.lightstrip_tv","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":600,"y":680,"wires":[[]]},{"id":"c23142a3.7a6c","type":"api-call-service","z":"9744d121.b32ac","g":"474e24c1.0fbbac","name":"Turn OFF Living Room Light","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.bulb_living_room","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":480,"y":140,"wires":[[]]},{"id":"d3e34054.21acb","type":"link out","z":"587c0c33.841674","g":"3b7aaf17.27637","name":"Turn OFF - Hallway with Timer","links":["f686d1f7.3943a"],"x":435,"y":120,"wires":[]},{"id":"f686d1f7.3943a","type":"link in","z":"587c0c33.841674","g":"a8fdc134.71c3","name":"Turn OFF - Hallway with Timer","links":["d3e34054.21acb"],"x":575,"y":340,"wires":[["5e588022.6705e"]]},{"id":"61381e98.465fe","type":"link in","z":"9744d121.b32ac","g":"745d8372.51574c","name":"Scene - Daves Room Lights Ambience","links":["640c2da7.bc33d4","c2dc7da5.9f995","e6f83f.8ccda7c"],"x":290,"y":500,"wires":[["f17391c8.3a997","aacf2e75.5f033","20e838d.afe26c8","64828de9.3591b4"]],"l":true},{"id":"f17391c8.3a997","type":"api-call-service","z":"9744d121.b32ac","g":"745d8372.51574c","name":"Turn OFF - Daves Room Main","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.bulb_daves_room","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":630,"y":400,"wires":[[]]},{"id":"aacf2e75.5f033","type":"api-call-service","z":"9744d121.b32ac","g":"745d8372.51574c","name":"Turn ON - Daves Room Oldschool Light 1%","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bulb_oldschool_daves_room","data":"{\"entity_id\":\"light.bulb_oldschool_daves_room\",\"brightness_pct\":1,\"color_temp\":500}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":670,"y":460,"wires":[[]]},{"id":"e14f42d8.9203","type":"api-call-service","z":"3a76cae2.0155c6","g":"562d6b9.e969794","name":"Turn ON - Daves Lightstrip - Table100%","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.light_strip_dave_table","data":"{\"entity_id\":\"light.light_strip_dave_table\",\"brightness_pct\":100,\"color_temp\":400}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":700,"y":180,"wires":[[]]},{"id":"fcb1acb4.b4713","type":"api-call-service","z":"65592cad.294c14","g":"36fcd6c0.b9b10a","name":"Turn OFF - Daves Lightstrip - Table","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.light_strip_dave_table","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":630,"y":200,"wires":[[]]},{"id":"20e838d.afe26c8","type":"api-call-service","z":"9744d121.b32ac","g":"745d8372.51574c","name":"Turn ON - Daves Lightstrip - Table100%","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.light_strip_dave_table","data":"{\"entity_id\":\"light.light_strip_dave_table\",\"brightness_pct\":100,\"xy_color\":[0.1412,0.3231]}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":660,"y":520,"wires":[[]]},{"id":"64828de9.3591b4","type":"api-call-service","z":"9744d121.b32ac","g":"745d8372.51574c","name":"Turn ON - Daves Lightstrip - Kallax","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.lightstrip_dave_kallax","data":"{\"entity_id\":\"light.lightstrip_dave_kallax\",\"brightness_pct\":100,\"xy_color\":[0.1412,0.3231]}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":640,"y":580,"wires":[[]]},{"id":"98a7c0c2.dfdab","type":"debug","z":"9744d121.b32ac","g":"745d8372.51574c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":660,"wires":[]},{"id":"d5065bd3.8a9da8","type":"deconz-input","z":"9744d121.b32ac","g":"745d8372.51574c","name":"","server":"b97ab1a6.4538d","device":"58:8e:81:ff:fe:f8:59:6f-01","device_name":"Lightstrip Dave Table : Extended color light","topic":"","state":"0","output":"always","outputAtStartup":true,"x":280,"y":660,"wires":[["98a7c0c2.dfdab"],[]]},{"id":"18964528.4d26cb","type":"api-call-service","z":"65592cad.294c14","g":"36fcd6c0.b9b10a","name":"Turn OFF - Daves Lightstrip - Kallax","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.lightstrip_dave_kallax","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":640,"y":260,"wires":[[]]},{"id":"b8278717.99c7f8","type":"api-call-service","z":"3a76cae2.0155c6","g":"562d6b9.e969794","name":"Turn ON - Daves Lightstrip - Kallax100%","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.lightstrip_dave_kallax","data":"{\"entity_id\":\"light.lightstrip_dave_kallax\",\"brightness_pct\":100,\"color_temp\":400}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":700,"y":240,"wires":[[]]},{"id":"6f2ce74e.4f51c8","type":"deconz-input","z":"a9487bf5.e08638","g":"f44b46b3.199668","name":"Dimmer","server":"b97ab1a6.4538d","device":"ec:1b:bd:ff:fe:32:47:cf-01-1000","device_name":"Volume - Play - Mute Controller : ZHASwitch","topic":"","state":0,"output":"always","outputAtStartup":false,"x":1510,"y":260,"wires":[["d444ea9e.71c8a8"],[]]},{"id":"d444ea9e.71c8a8","type":"switch","z":"a9487bf5.e08638","g":"f44b46b3.199668","name":"Media Control - Moves","property":"payload.buttonevent","propertyType":"msg","rules":[{"t":"eq","v":"2001","vt":"str"},{"t":"eq","v":"2003","vt":"str"},{"t":"eq","v":"3001","vt":"str"},{"t":"eq","v":"3003","vt":"str"},{"t":"eq","v":"1002","vt":"str"},{"t":"eq","v":"1004","vt":"str"},{"t":"eq","v":"1005","vt":"str"}],"checkall":"true","repair":false,"outputs":7,"x":1700,"y":260,"wires":[["7ea6114b.015af","7b9acc6b.360c24"],["25a079d2.08ba16"],["b0221480.cee808","353534d3.6386fc","2a5108b6.1bb398"],[],["e6f83f.8ccda7c"],["5a05b70f.9cf098"],["70ca707.bed009"]],"outputLabels":["Turn Right","Turn Right","Turn Left","Turn Left","1x click","2x click","3x click"],"info":"ON = I\nOFF = O\n\n1002 = short on\n2002 = short off\n\n1001 = long on, press down\n1003 = long on, release\n\n2001 = long off, press down\n2003 = long off, release"},{"id":"7ea6114b.015af","type":"api-call-service","z":"a9487bf5.e08638","g":"f44b46b3.199668","name":"DIMM UP - Daves Room Oldschool Light 20%","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bulb_oldschool_daves_room","data":"{\"entity_id\":\"light.bulb_oldschool_daves_room\",\"brightness_step_pct\":20}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2080,"y":80,"wires":[[]]},{"id":"b0221480.cee808","type":"api-call-service","z":"a9487bf5.e08638","g":"f44b46b3.199668","name":"DIMM DOWN- Daves Room Oldschool Light 20%","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bulb_oldschool_daves_room","data":"{\"entity_id\":\"light.bulb_oldschool_daves_room\",\"brightness_step_pct\":-20,\"color_temp\":400}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2090,"y":500,"wires":[[]]},{"id":"7b9acc6b.360c24","type":"api-call-service","z":"a9487bf5.e08638","g":"f44b46b3.199668","name":"DIMM UP - Daves Lightstrip Kallax 20%","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.lightstrip_dave_kallax","data":"{\"entity_id\":\"light.lightstrip_dave_kallax\",\"brightness_step_pct\":20}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2060,"y":140,"wires":[[]]},{"id":"353534d3.6386fc","type":"api-call-service","z":"a9487bf5.e08638","g":"f44b46b3.199668","name":"DIMM DOWN - Daves Lightstrip Kallax 20%","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.lightstrip_dave_kallax","data":"{\"entity_id\":\"light.lightstrip_dave_kallax\",\"brightness_step_pct\":-20}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2070,"y":560,"wires":[[]]},{"id":"25a079d2.08ba16","type":"api-call-service","z":"a9487bf5.e08638","g":"f44b46b3.199668","name":"DIMM UP - Daves Lightstrip Table 20%","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.light_strip_dave_table","data":"{\"entity_id\":\"light.light_strip_dave_table\",\"brightness_step_pct\":20}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2060,"y":200,"wires":[[]]},{"id":"2a5108b6.1bb398","type":"api-call-service","z":"a9487bf5.e08638","g":"f44b46b3.199668","name":"DIMM DOWN - Daves Lightstrip Table 20%","server":"a1047e7f.e8257","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.light_strip_dave_table","data":"{\"entity_id\":\"light.light_strip_dave_table\",\"brightness_step_pct\":-20}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2070,"y":620,"wires":[[]]},{"id":"5a05b70f.9cf098","type":"link out","z":"a9487bf5.e08638","g":"f44b46b3.199668","name":"Turn OFF - Daves Room Lights","links":["1ae68d76.efb0d3","63a35f62.a275b","25794078.0284c"],"x":2030,"y":340,"wires":[],"l":true},{"id":"e6f83f.8ccda7c","type":"link out","z":"a9487bf5.e08638","g":"f44b46b3.199668","name":"Turn ON - Daves Room Lights Ambience","links":["6bf1fb61.eab114","cc45fab3.10eb88","61381e98.465fe"],"x":2060,"y":280,"wires":[],"l":true},{"id":"70ca707.bed009","type":"link out","z":"a9487bf5.e08638","g":"f44b46b3.199668","name":"Turn ON - Daves Room Lights 100%","links":["d9e5faea.8ca308","5165bbc3.9f4bb4","a1f33bd7.79fc78","f990ba27.0b32c8"],"x":2050,"y":400,"wires":[],"l":true}]